<div class="manage-head">
    <h6 class="pdl5 manage-head-con wp50">预警时间设置</h6>
</div>
<div class="rt-content">
    <!-- 创建导航 -->
    <!-- 添加内部员工分工 -->
    <div class="rt-content-item mt20 ft14">
        <p class="rt-content-item-title">预警时间设置
        </p>
        <div class="clear mb20 mauto w770">
            <div class="input-row2  mt20">
                <div class="input-row-title fleft w160 pdr10" id="miao">
                    <i class="fred ">*</i>分钟：
                </div>
                <div class="input-row-input fleft w300">
                    <input type="text" name="minute" id="minute" placeholder="" value="{$minute}">
                </div>
            </div>
            <div class="mt20 mb20 w300 mauto">
                <a href="javascript:;" class="pop-add-btn2 mr20" onclick="doSave()">保存</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //保存
    function doSave()
    {
        var minute = $('#minute').val();
        //数据提交
        doAjax({
            type: "POST",
            url: "{:url('save')}",
            data: {minute:minute},
            dataType: "json",
            success: function(json)
            {
                alert(json.message);
                location.reload();
            }
        });
    }
</script>


