
                <div class="manage-head">
                    <h6 class="pdl5 manage-head-con wp50">省市级会议一览</h6>
                    <a href="newConference.html" class=" fright return-btn mr20"><返回</a>
                </div>
                <div class="rt-content">
                    <div class="rt-content-item ">
                        <p class="rt-content-item-title">数据筛选</p>
                        <div class="rt-item-detail clearboth mt20">
                            <div class="input-row ">
                                <div class="fleft pdl20">输入查询：</div>
                                <div class="input-box fleft">
                                    <input type="text" name="" placeholder="活动名称">
                                </div>
                            </div>
                            <div class="input-row ml20">
                                <div class="fleft ">产品：</div>
                                <div class="input-box fleft">
                                    <select class="w200">
                                        <option>全部</option>
                                        <option>爱若华</option>
                                        <option>爱然</option>
                                        <option>UCB</option>
                                    </select>
                                </div>
                            </div>

                            <div class="input-row  ml20">
                                <div class="fleft">状态：</div>
                                <div class="input-box fleft">
                                    <select class="w200">
                                        <option>全部</option>
                                        <option>创建中</option>
                                        <option>待审核</option>
                                        <option>未通过</option>
                                        <option>已通过</option>
                                        <option>已终止</option>
                                        <option>报销待审核</option>
                                        <option>报销未通过</option>
                                        <option>报销已通过</option>
                                        <option>报销终止</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-row  ml10">
                                <div class="search-btn fleft">
                                    <a href="javascript:;">查询</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 数据列表 -->
                    <div class="rt-content-item mt20 ">
                        <div class="rt-content-item-title2">
                            <div class="rt-title-txt">数据列表</div>
                            <div class="fright">
                                <a class="add-btn mr10" href="javascript:;">
                                    <span class="add-txt">添加</span>
                                </a>
                            </div>
                        </div>

                        <div class="rt-item-detail wp100">
                            <div class="table-box mb20 table-tb">
                                <table class="wp100">
                                    <thead>
                                    <tr class="bg_gray2 fb">
                                        <td class="wp7">产品</td>
                                        <td class="wp7">参会领域</td>

                                        <td class="wp7">省</td>
                                        <td class="wp7">市</td>
                                        <td class="wp7">活动日期</td>
                                        <td class="wp15">会议名称</td>
                                        <td class="wp10">参会形式</td>
                                        <td class="wp7">预算费用</td>
                                        <td class="wp7">实际费用</td>
                                        <td class="wp7">备注</td>
                                        <td class="wp7">状态</td>
                                        <td class="wp12">操作</td>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>爱若华</td>
                                        <td>风湿科</td>

                                        <td>山东省</td>
                                        <td>青岛市</td>
                                        <td>2019-06-01</td>
                                        <td>
                                            2019中华医学会风湿病学年会
                                        </td>
                                        <td>卫星会/展台</td>
                                        <td>&yen;1500.00</td>
                                        <td></td>
                                        <td></td>
                                        <td>创建中</td>
                                        <td>
                                            <a href="javascript:;" class="looked" >
                                                查看</a>

                                            <a href="javascript:;" class="cross" onclick="deleteActive(this)">
                                                删除</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>爱若华</td>
                                        <td>风湿科</td>
                                        <td>2019-06-01</td>
                                        <td>山东省</td>
                                        <td>青岛市</td>
                                        <td>
                                            2019中华医学会风湿病学年会
                                        </td>
                                        <td>卫星会/展台</td>
                                        <td>&yen;1500.00</td>
                                        <td></td>
                                        <td></td>
                                        <td>筹备中</td>
                                        <td>
                                            <a href="javascript:;" class="looked" >
                                                查看</a>
                                            <a href="javascript:;" class="edit" >编辑</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>爱若华</td>
                                        <td>风湿科</td>
                                        <td>2019-06-01</td>
                                        <td>山东省</td>
                                        <td>青岛市</td>
                                        <td>
                                            2019中华医学会风湿病学年会
                                        </td>
                                        <td>卫星会/展台</td>
                                        <td>&yen;1500.00</td>
                                        <td></td>
                                        <td></td>
                                        <td>报销中</td>
                                        <td>
                                            <a href="javascript:;" class="looked" >
                                                查看</a>
                                            <a href="javascript:;" class="edit" >编辑</a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>爱若华</td>
                                        <td>风湿科</td>
                                        <td>2019-06-01</td>
                                        <td>山东省</td>
                                        <td>青岛市</td>
                                        <td>
                                            2019中华医学会风湿病学年会
                                        </td>
                                        <td>卫星会/展台</td>
                                        <td>&yen;1500.00</td>
                                        <td></td>
                                        <td></td>
                                        <td>已完成</td>
                                        <td>
                                            <a href="javascript:;" class="looked" >
                                                查看</a>

                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 分页符开始 --> <!-- pagechoosen 为当前页样式-->
                        <div class="thepage-wrap wp100 clear mb40">

                            <div class="thepage fright mr20">
                                <span>共 400 条记录 第 1 / 80 页</span>
                                <a href="" class="forbid">&lt;</a>
                                <a href="javascript:void(0);" class="on">1</a>
                                <a href="" class="page">2</a>
                                <a href="" class="page">3</a>
                                <a href="" class="page">4</a>
                                <a href="" class="page">5</a>
                                <a href="" class="page">6</a>
                                <a href="" class="page">...</a>
                                <a href="" class="page">&gt;</a>
                                <span class="page-input">跳至<input type="" name="">页</span>

                            </div>
                        </div>
                        <!-- 分页符结束 -->
                    </div>
                </div>
                <!-- 弹框 -->
                <div>
                    <!-- 删除活动-->
                    <div class="pop-up-box delete-active none">
                        <div class="pop-up w500">
                            <div class="pop-up-item mt20 ft14 pdl40">
                                <p class="pop-up-item-title fb mb10">
                                    确认提示
                                    <span class="submit-cross fright mr20" onclick="submitCancel(this)">
						   	     		<span class="submit-cross-l">
						   	     		<span class="submit-cross-r">
						   	     	</span>
                                </p>
                                <div class="wp100 clear mb10 ml40">
                                    <div class="pop-up-row wp100 fleft">
                                        <img src="../images/submit-tip.png">
                                        <span class="fb ft16">是否确定删除活动</span>
                                    </div>
                                    <div class=" wp100 fleft ml35">
                                        是否确定删除活动
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="mt10 mb20 fright w250 flex-center">
                                <a href="javascript:;" class="pop-return-btn2 mr20" onclick="cancelBtn(this)">取消</a>
                                <a href="javascript:;" class="pop-add-btn2 mr20" onclick="trueBtn(this)">确定</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- 弹框结束 -->
                <!-- footer内容 -->
                <div class="footer">
                    <p>Copyright © www.shgothic.com, All Rights Reserved.</p>
                    <p>上海哥特网络</p>
                </div>
