<head>
	<meta charset="utf-8">
	<title>客户支持管理系统</title>
	<link href="/Frs/css/reset.css" rel="stylesheet" type="text/css">
	<link href="/Frs/css/common.css" rel="stylesheet" type="text/css">
	<link href="/Frs/css/frs.css" rel="stylesheet" type="text/css">
	<link href="/Frs/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="/Frs/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/Frs/css/jquery-ui/jquery-ui-1.10.4.custom.css" />

	<script type="text/javascript" src="/Frs/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/Frs/js/jquery-ui/jquery-ui-1.10.4.custom.js"></script>
	<script src="/Frs/js/bootstrap.min.js"></script>
	<script src="/Frs/js/jquery.form.js"></script>
	<script type="text/javascript" src="/Frs/js/main.js"></script>
	<script type="text/javascript" src="/Frs/js/project.js"></script>
	<script type="text/javascript" src="/Frs/js/csm.js"></script>
	<script src="/Frs/js/jquery-ui/jquery-ui-timepicker-addon.js"></script>
	<script src="/Frs/js/jquery-ui/jquery-ui-timepicker-zh-CN.js"></script>
	<script src="/Frs/js/jquery-canleder/jquery-canleder.js"></script>
	<link rel="stylesheet" type="text/css" href="/Frs/js/jquery-canleder/jquery-canleder.css" />
</head>