
<div class="manage-head">
    <h6 class="pdl5 manage-head-con wp50">超时人员一览</h6>
</div>
<div class="rt-content">
    <div class="rt-content-item ">
        <p class="rt-content-item-title">数据筛选</p>
        <div class="rt-item-detail clearboth mt20">
            <div class="input-row ">
                <div class="fleft pdl20">输入查询：</div>
                <div class="input-box fleft">
                    <input type="text" name="" placeholder="请输入姓名">
                </div>
            </div>
            <div class="input-row  ml10">
                <div class="search-btn fleft">
                    <a href="javascript:;">查询</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="rt-content-item mt20 ">
        <div class="rt-content-item-title2">
            <div class="rt-title-txt">数据列表</div>
        </div>
        <div class="rt-item-detail wp100">
            <div class="table-box mb20 table-tb">
                <table class="wp100">
                    <thead>
                        <tr class="bg_gray2 fb">
                            <td class="wp7"></td>
                            <td class="wp7">参会领域</td>
                            <td class="wp7">省</td>
                            <td class="wp7">市</td>
                            <td class="wp7">活动日期</td>
                            <td class="wp15">会议名称</td>
                            <td class="wp10">参会形式</td>
                            <td class="wp7">预算费用</td>
                            <td class="wp7">实际费用</td>
                            <td class="wp7">备注</td>
                            <td class="wp7">状态</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>爱若华</td>
                            <td>风湿科</td>

                            <td>山东省</td>
                            <td>青岛市</td>
                            <td>2019-06-01</td>
                            <td>
                                2019中华医学会风湿病学年会
                            </td>
                            <td>卫星会/展台</td>
                            <td>&yen;1500.00</td>
                            <td></td>
                            <td></td>
                            <td>创建中</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 分页符开始 --> <!-- pagechoosen 为当前页样式-->
        <div class="thepage-wrap wp100 clear mb40">

            <div class="thepage fright mr20">
                <span>共 400 条记录 第 1 / 80 页</span>
                <a href="" class="forbid">&lt;</a>
                <a href="javascript:void(0);" class="on">1</a>
                <a href="" class="page">2</a>
                <a href="" class="page">3</a>
                <a href="" class="page">4</a>
                <a href="" class="page">5</a>
                <a href="" class="page">6</a>
                <a href="" class="page">...</a>
                <a href="" class="page">&gt;</a>
                <span class="page-input">跳至<input type="" name="">页</span>

            </div>
        </div>
        <!-- 分页符结束 -->
    </div>
</div>

