
<div class="manage-head">
    <h6 class="pdl5 manage-head-con wp50">超时人员一览</h6>
</div>
<div class="rt-content">
    <div class="rt-content-item ">
        <p class="rt-content-item-title">数据筛选</p>
        <div class="rt-item-detail clearboth mt20">
            <div class="input-row ">
                <div class="fleft pdl20">输入查询：</div>
                <div class="input-box fleft">
                    <input type="text" name="name_like" id="name_like" placeholder="请输入姓名" value="{$name_like|default=''}">
                </div>
            </div>
            <div class="input-row ">
                <div class="fleft pdl20">查询日期：</div>
                    <div class="input-box fleft">
                        <input type="text" class="jqui_datepicker" placeholder="开始日期" id="start_date" name="start_date" maxlength="50" value="<?= isset($start_date) ? $start_date : '';?>">
                    </div>
                <div class="input-box fleft">
                    &nbsp;-&nbsp;
                </div>
                <div class="input-box fleft">
                    <input type="text" class="jqui_datepicker" placeholder="结束日期" id="end_date" name="end_date" maxlength="50" value="<?= isset($end_date) ? $end_date : '';?>">
                </div>
            </div>
            <div class="input-row  ml10">
                <div class="search-btn fleft">
                    <a href="javascript:;" onclick="doSearch()">查询</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="rt-content-item mt20 ">
        <div class="rt-content-item-title2">
            <div class="rt-title-txt">数据列表共{$count}条记录</div>
            <!--<div class="fright">-->
                <!--<span class="add-txt mr10">共{$count}条记录</span>-->
            <!--</div>-->
        </div>
        <div class="rt-item-detail wp100">
            <div class="table-box mb20 table-tb">
                <table class="wp100">
                    <thead>
                        <tr class="bg_gray2 fb">
                            <td class="wp10">姓名</td>
                            <td class="wp10">UUID</td>
                            <td class="wp10">日期</td>
                            <!--<td class="wp20">出去时间</td>-->
                            <td class="wp20">进入时间</td>
                            <td class="wp15">出去摄像头位置</td>
                            <td class="wp15">邮件发送状态</td>
                        </tr>
                    </thead>
                    <tbody>
                        {volist name='list' id='item'}
                            <tr>
                                <td>{$item.name}</td>
                                <td>{$item.uuid}</td>
                                <td>{$item.date}</td>
                                <td>{$item.out_datetime}</td>
                                <td>{$item.into_datetime}</td>
                                <!--<td>{$item.camera_position}</td>-->
                                <td>{$item.send_flg==1 ? '已发送' : '未发送'}</td>
                            </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 分页符开始 --> <!-- pagechoosen 为当前页样式-->

        <div class="thepage-wrap wp100 clear mb40">
            <div class="thepage fright mr20">
                <span>{$page|raw}</span>
            </div>
        </div>
        <!-- 分页符结束 -->
    </div>
</div>
<script type="text/javascript">
    function doSearch()
    {
        doSubmit("mainform", "index");
    }
</script>