@charset "utf-8";
/* CSS Document */

.fleft {
    float: left;
}

.fright {
    float: right;
}

.fright-o {
    float: right;
    display: block;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    background: #ff8f4b;
    color: white;
    height: 25px;
    width: 70px;
}

.fright-o a {
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}

.fb {
    font-weight: bold;
}

.tleft {
    text-align: left
}

.tright {
    text-align: right
}

.tcenter {
    text-align: center;
}

.tline {
    text-decoration: underline
}

.vhidden {
    visibility: hidden
}

.posr {
    position: relative
}

.posa {
    position: absolute
}

.posf {
    position: fixed
}

.none {
    display: none;
}



.block {
    display: block
}

.in-block {
    display: inline-block !important;
}

.tablecell {
    display: table-cell
}

.hide {
    overflow: hidden
}

.overflow-auto {
    overflow: auto
}

.overflow-s-y {
    overflow: auto;
    overflow-x: hidden;
}

.overflow-s-x {
    overflow: auto;
    overflow-y: hidden;
}
.overflow-x {
    overflow-x: scroll;
}

.vnone {
    visibility: hidden
}

.show {
    display: block;
}

.over_v {
    overflow: visible
}

.border_red {
    border: red 1px solid
}

.border_gray {
    border: gray 1px solid
}

.border_gray2 {
    border: #efefef 1px solid
}

.border_gray3 {
    border: #bfbfbf 1px solid
}

.border_gray6 {
    border: #666 1px solid
}

.border_gray9 {
    border: #999 1px solid
}

.border_green {
    border: green 1px solid
}

.border-b-gray {
    border-bottom: 1px solid gray
}

.border-t-gray {
    border-top: 1px solid gray
}
.border-right{
    border-right:1px solid #ddd;

}
.cboth {
    clear: both
}

.hand {
    cursor: pointer
}

.clearboth {
    float: none;
    clear: both;
}

.ft-ari {
    font-family: Arial
}

.tshadow-1 {
    -webkit-text-shadow: 1px 2px 2px hsla(0, 100%, 0%, .3);
    -moz-text-shadow: 1px 2px 2px hsla(0, 100%, 0%, .3);
    text-shadow: 1px 2px 2px hsla(0, 100%, 0%, .3)
}

.tshadow-2 {
    -webkit-text-shadow: 1px 2px 2px hsla(0, 100%, 0%, .5);
    -moz-text-shadow: 1px 2px 2px hsla(0, 100%, 0%, .5);
    text-shadow: 1px 2px 2px hsla(0, 100%, 0%, .5)
}

/* 字体 */
.ft-ari {
    font-family: Arial
}

/* 字色 */
.fwhite {
    color: #fff
}

.fblack {
    color: #000
}

.fgray {
    color: gray
}

.fred {
    color: red
}

.fdarkred {
    color: #933
}

.fblue {
    color: blue
}
.fblue-hover {
    color: #0079fe
}
.forange {
    color: #ff9966
}
.orange-link{
    color: #ff9966;
    text-decoration: underline;
}

.fgreen {
    color: green
}

.fpurple {
    color: purple
}

.fgree1 {
    color: #47b4a7
}

.fgree1 a {
    color: #47b4a7
}

/* 背景色 */
.bg_gray {
    background-color: #ccc
}
.bg_gray2{
     background-color: #f5f5f5
}
.bg_graydim {
    background-color: #efefef
}
.bg_lightgray{
    background-color: #e1e0e0}
.bg_yellow {
    background-color: #ffffcc
}

.bg_blue {
    background-color: #99ccff
}

.bg_blue2 {
    background-color: #ccccff
}
.bg_blue3 {
    background-color: #0079fe
}
.bg_green {
    background-color: rgb(102, 149, 51);
}

.bg_orange {
    background-color: rgb(221, 86, 0);
}

.bg_red {
    background-color: rgb(255, 0, 0);
}

.bg_darkred {
    background-color: rgb(189, 66, 71);
}

.bg_bloodred {
    background-color: rgb(204, 0, 51);
}

.bg_brightred {
    background-color: rgb(255, 51, 153);
}

.bg_yellowred {
    background-color: rgb(255, 102, 102);
}

.bg_dirtyellow {
    background-color: rgb(255, 204, 153);
}

.bg_freshyellow {
    background-color: rgb(255, 255, 204);
}

.bg_dirtyellow {
    background-color: rgb(255, 204, 153);
}

.bg_dirtyellow {
    background-color: rgb(255, 204, 153);
}

.bg_brown {
    background-color: rgb(129, 123, 88);
}

.bg_cyan {
    background-color: rgb(0, 153, 153)
}

.bg_darkblue_btn {
    background-color: rgb(0, 102, 153)
}

.bg_skyblue {
    background-color: rgb(0, 153, 204)
}

.bg_greenblue {
    background-color: rgb(0, 204, 204)
}

.bg_emerald {
    background-color: rgb(0, 204, 153)
}

.bg_darkgreen {
    background-color: rgb(0, 153, 51)
}

.bg_purple {
    background-color: rgb(158, 106, 184);
}

.bg_black {
    background-color: #000;
    color: #fff;
}

.bg_darkgray {
    background-color: #999;
}

.bg_rose {
    background-color: rgb(255, 153, 255)
}

.bg_lightgreen {
    background-color: rgb(204, 255, 0)
}

/*  文字缩进 */
.tin0 {
    text-indent: 0px;
}

.tin2 {
    text-indent: 2px;
}

.tin4 {
    text-indent: 4px;
}

.tin6 {
    text-indent: 6px;
}

.tin8 {
    text-indent: 8px;
}

.tin10 {
    text-indent: 10px;
}

.tin05em {
    text-indent: .5em;
}

.tin1em {
    text-indent: 1em;
}

.tin15em {
    text-indent: 1.5em;
}

.tin2em {
    text-indent: 2em;
}

.ml-1 {
    margin-left: -1px;
}

.ml-2 {
    margin-left: -2px;
}

.ml-3 {
    margin-left: -3px;
}

.ml-4 {
    margin-left: -4px;
}

.ml-5 {
    margin-left: -5px;
}

.ml-6 {
    margin-left: -6px;
}

.ml-7 {
    margin-left: -7px;
}

.ml-8 {
    margin-left: -8px;
}

.ml-9 {
    margin-left: -9px;
}

.ml-10 {
    margin-left: -10px;
}

.ml-15 {
    margin-left: -15px;
}

.ml-20 {
    margin-left: -20px;
}

.ml-25 {
    margin-left: -25px;
}

.ml-30 {
    margin-left: -30px;
}

.ml-35 {
    margin-left: -35px;
}

.ml-40 {
    margin-left: -40px;
}

.ml-45 {
    margin-left: -45px;
}

.ml-50 {
    margin-left: -50px;
}
.ml-80 {
    margin-left: -80px;
}
.h10 {
    height: 10px;
}

.h11 {
    height: 11px;
}

.h12 {
    height: 12px;
}

.h13 {
    height: 13px;
}

.h14 {
    height: 14px;
}

.h15 {
    height: 15px;
}

.h16 {
    height: 16px;
}

.h17 {
    height: 17px;
}

.h18 {
    height: 18px;
}

.h19 {
    height: 19px;
}

.h20 {
    height: 20px;
}

.h21 {
    height: 21px;
}

.h22 {
    height: 22px;
}

.h23 {
    height: 23px;
}

.h24 {
    height: 24px;
}

.h25 {
    height: 25px;
}

.h26 {
    height: 26px;
}

.h27 {
    height: 27px;
}

.h28 {
    height: 28px;
}

.h29 {
    height: 29px;
}

.h30 {
    height: 30px;
}

.h31 {
    height: 31px;
}

.h32 {
    height: 32px;
}

.h33 {
    height: 33px;
}

.h34 {
    height: 34px;
}

.h35 {
    height: 35px;
}

.h36 {
    height: 36px;
}

.h37 {
    height: 37px;
}

.h38 {
    height: 38px;
}

.h39 {
    height: 39px;
}

.h40 {
    height: 40px;
}

.h50 {
    height: 50px;
}

.h60 {
    height: 60px;
}

.h80 {
    height: 80px;
}

.h100 {
    height: 100px;
}

.h120 {
    height: 120px;
}

.h140 {
    height: 140px;
}

.h160 {
    height: 160px;
}

.h180 {
    height: 180px;
}

.h200 {
    height: 200px;
}

.h220 {
    height: 220px;
}

.h240 {
    height: 240px;
}

.h250 {
    height: 250px;
}

.h260 {
    height: 260px;
}

.h280 {
    height: 280px;
}

.h300 {
    height: 300px;
}

.h320 {
    height: 320px;
}

.h340 {
    height: 340px;
}

.h360 {
    height: 360px;
}

.h380 {
    height: 380px;
}

.h400 {
    height: 400px;
}

.h420 {
    height: 420px;
}

.h440 {
    height: 440px;
}

.h460 {
    height: 460px;
}

.h480 {
    height: 480px;
}

.h500 {
    height: 500px;
}

.h520 {
    height: 520px;
}

.h540 {
    height: 540px;
}

.h560 {
    height: 560px;
}

.h580 {
    height: 580px;
}

.h600 {
    height: 600px;
}

.h620 {
    height: 620px;
}

.h640 {
    height: 640px;
}

.h660 {
    height: 660px;
}

.h680 {
    height: 680px;
}

.h700 {
    height: 700px;
}

.h720 {
    height: 720px;
}

.h740 {
    height: 740px;
}

.h760 {
    height: 760px;
}

.h780 {
    height: 780px;
}

.h800 {
    height: 800px;
}

.h1200 {
    height: 1200px;
}

.wp01 {
    width: 0.1%;
}

.wp02 {
    width: 0.2%;
}

.wp03 {
    width: 0.3%;
}

.wp04 {
    width: 0.4%;
}

.wp05 {
    width: 0.5%;
}

.wp06 {
    width: 0.6%;
}

.wp07 {
    width: 0.7%;
}

.wp08 {
    width: 0.8%;
}

.wp09 {
    width: 0.9%;
}

.wp1 {
    width: 1%;
}

.wp2 {
    width: 2%;
}

.wp3 {
    width: 3%;
}

.wp4 {
    width: 4%;
}

.wp5 {
    width: 5%;
}

.wp6 {
    width: 6%;
}

.wp7 {
    width: 7%;
}

.wp8 {
    width: 8%;
}

.wp9 {
    width: 9%;
}

.wp10 {
    width: 10%;
}

.wp11 {
    width: 11%;
}

.wp12 {
    width: 12%;
}

.wp13 {
    width: 13%;
}

.wp14 {
    width: 14%;
}

.wp15 {
    width: 15%;
}

.wp16 {
    width: 16%;
}

.wp17 {
    width: 17%;
}

.wp18 {
    width: 18%;
}

.wp19 {
    width: 19%;
}

.wp20 {
    width: 20%;
}

.wp21 {
    width: 21%;
}

.wp22 {
    width: 22%;
}

.wp23 {
    width: 23%;
}

.wp24 {
    width: 24%;
}

.wp25 {
    width: 25%;
}

.wp26 {
    width: 26%;
}

.wp27 {
    width: 27%;
}

.wp28 {
    width: 28%;
}

.wp29 {
    width: 29%;
}

.wp30 {
    width: 30%;
}

.wp31 {
    width: 31%;
}

.wp32 {
    width: 32%!important;
}

.wp33 {
    width: 33%;
}

.wp34 {
    width: 34%;
}

.wp35 {
    width: 35%;
}

.wp36 {
    width: 36%;
}

.wp37 {
    width: 37%;
}

.wp38 {
    width: 38%;
}

.wp39 {
    width: 39%;
}

.wp40 {
    width: 40%;
}

.wp41 {
    width: 41%;
}

.wp42 {
    width: 42%!important;
}

.wp43 {
    width: 43%;
}

.wp44 {
    width: 44%;
}

.wp45 {
    width: 45%!important;
}

.wp46 {
    width: 46%!important;
}

.wp47 {
    width: 47%;
}

.wp48 {
    width: 48%!important;
}

.wp49 {
    width: 49%;
}

.wp50 {
    width: 50%;
}

.wp51 {
    width: 51%;
}

.wp52 {
    width: 52%;
}

.wp53 {
    width: 53%;
}

.wp54 {
    width: 54%;
}

.wp55 {
    width: 55%;
}

.wp56 {
    width: 56%;
}

.wp57 {
    width: 57%;
}

.wp58 {
    width: 58%;
}

.wp59 {
    width: 59%;
}

.wp60 {
    width: 60%;
}

.wp61 {
    width: 61%;
}

.wp62 {
    width: 62%;
}

.wp63 {
    width: 63%;
}

.wp64 {
    width: 64%;
}

.wp65 {
    width: 65%;
}

.wp66 {
    width: 66%;
}

.wp67 {
    width: 67%;
}

.wp68 {
    width: 68%;
}

.wp69 {
    width: 69%;
}

.wp70 {
    width: 70%;
}

.wp71 {
    width: 71%;
}

.wp72 {
    width: 72%;
}

.wp73 {
    width: 73%;
}

.wp74 {
    width: 74%;
}

.wp75 {
    width: 75%;
}

.wp76 {
    width: 76%;
}

.wp77 {
    width: 77%;
}

.wp78 {
    width: 78%;
}

.wp79 {
    width: 79%;
}

.wp80 {
    width: 80%;
}

.wp81 {
    width: 81%;
}

.wp82 {
    width: 82%;
}

.wp83 {
    width: 83%;
}

.wp84 {
    width: 84%;
}

.wp85 {
    width: 85%;
}

.wp86 {
    width: 86%;
}

.wp87 {
    width: 87%;
}

.wp88 {
    width: 88%;
}

.wp89 {
    width: 89%;
}

.wp90 {
    width: 90%;
}

.wp91 {
    width: 91%;
}

.wp92 {
    width: 92%;
}

.wp93 {
    width: 93%;
}

.wp94 {
    width: 94%;
}

.wp95 {
    width: 95%;
}

.wp96 {
    width: 96%;
}

.wp97 {
    width: 97%;
}

.wp98 {
    width: 98%;
}

.wp99 {
    width: 99%;
}

.wp991 {
    width: 99.1%;
}

.wp992 {
    width: 99.2%;
}

.wp993 {
    width: 99.3%;
}

.wp994 {
    width: 99.4%;
}

.wp995 {
    width: 99.5%;
}

.wp996 {
    width: 99.6%;
}

.wp997 {
    width: 99.7%;
}

.wp998 {
    width: 99.8%;
}

.wp999 {
    width: 99.9%;
}

.wp100 {
    width: 100%;
}

.wp101 {
    width: 101%;
}

.wp102 {
    width: 102%;
}

.wp103 {
    width: 103%;
}

.wp104 {
    width: 104%;
}

.wp105 {
    width: 105%;
}

.wp106 {
    width: 106%;
}

.wp107 {
    width: 107%;
}

.wp108 {
    width: 108%;
}

.wp109 {
    width: 109%;
}

.wp110 {
    width: 110%;
}

.lp100 {
    height: 100%;
}

.lp200 {
    height: 200;
}

.lh10 {
    line-height: 10px;
}

.lh20 {
    line-height: 20px;
}

.lh30 {
    line-height: 30px;
}

.lh40 {
    line-height: 40px;
}

.lh50 {
    line-height: 50px;
}

.lh60 {
    line-height: 60px;
}

.lh70 {
    line-height: 70px;
}

.lh80 {
    line-height: 80px;
}

.lh90 {
    line-height: 90px;
}

.lh100 {
    line-height: 100px;
}

.lhp100 {
    line-height: 100%;
}

.lhp110 {
    line-height: 110%;
}

.lhp120 {
    line-height: 120%;
}

.lhp130 {
    line-height: 130%;
}

.lhp140 {
    line-height: 140%;
}

.lhp150 {
    line-height: 150%;
}

.lhp160 {
    line-height: 160%;
}

.lhp170 {
    line-height: 170%;
}

.lhp180 {
    line-height: 180%;
}

.lhp190 {
    line-height: 190%;
}

.lhp200 {
    line-height: 200%;
}

.lhp210 {
    line-height: 210%;
}

.lhp220 {
    line-height: 220%;
}

.lhp230 {
    line-height: 230%;
}

.lhp240 {
    line-height: 240%;
}

.lhp250 {
    line-height: 250%;
}

.lhp260 {
    line-height: 260%;
}

.lhp270 {
    line-height: 270%;
}

.lhp280 {
    line-height: 280%;
}

.lhp290 {
    line-height: 290%;
}

.lhp300 {
    line-height: 300%;
}

.lhp310 {
    line-height: 310%;
}

.lhp320 {
    line-height: 320%;
}

.lhp330 {
    line-height: 330%;
}

.lhp340 {
    line-height: 340%;
}

.lhp350 {
    line-height: 350%;
}

.lhp360 {
    line-height: 360%;
}

.lhp370 {
    line-height: 370%;
}

.lhp380 {
    line-height: 380%;
}

.lhp390 {
    line-height: 390%;
}

.lhp400 {
    line-height: 400%;
}

.lhp410 {
    line-height: 410%;
}

.lhp420 {
    line-height: 420%;
}

.lhp430 {
    line-height: 430%;
}

.lhp440 {
    line-height: 440%;
}

.lhp450 {
    line-height: 450%;
}

.lhp460 {
    line-height: 460%;
}

.lhp470 {
    line-height: 470%;
}

.lhp480 {
    line-height: 480%;
}

.lhp490 {
    line-height: 490%;
}

.lhp500 {
    line-height: 500%;
}

.mauto {
    margin: 0 auto;
}

.m10auto {
    margin: 10px auto;
}

.m20auto {
    margin: 20px auto;
}

.m30auto {
    margin: 30px auto;
}

.m40auto {
    margin: 40px auto;
}

.m50auto {
    margin: 50px auto;
}

.m60auto {
    margin: 60px auto;
}

.m70auto {
    margin: 70px auto;
}

.m80auto {
    margin: 80px auto;
}

.m20 {
    margin: 15px 0 0 12px;
}

.ml0 {
    margin-left: 0 !important
}

.ml1 {
    margin-left: 1px;
}

.ml2 {
    margin-left: 2px;
}

.ml3 {
    margin-left: 3px;
}

.ml4 {
    margin-left: 4px;
}

.ml5 {
    margin-left: 5px;
}

.ml6 {
    margin-left: 6px;
}

.ml7 {
    margin-left: 7px;
}

.ml8 {
    margin-left: 8px;
}

.ml9 {
    margin-left: 9px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.ml55 {
    margin-left: 55px;
}

.ml60 {
    margin-left: 60px;
}

.ml65 {
    margin-left: 65px;
}

.ml70 {
    margin-left: 70px;
}

.ml75 {
    margin-left: 75px;
}

.ml80 {
    margin-left: 80px;
}

.ml85 {
    margin-left: 85px;
}

.ml90 {
    margin-left: 90px;
}

.ml95 {
    margin-left: 95px;
}

.ml100 {
    margin-left: 100px;
}

.mr0 {
    margin-right: 0px !important
}

.mr1 {
    margin-right: 1px;
}

.mr2 {
    margin-right: 2px;
}

.mr3 {
    margin-right: 3px;
}

.mr4 {
    margin-right: 4px;
}

.mr5 {
    margin-right: 5px;
}

.mr6 {
    margin-right: 6px;
}

.mr7 {
    margin-right: 7px;
}

.mr8 {
    margin-right: 8px;
}

.mr9 {
    margin-right: 9px;
}

.mr10 {
    margin-right: 10px;
}

.mr12 {
    margin-right: 12px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mr45 {
    margin-right: 45px;
}

.mr50 {
    margin-right: 50px;
}

.mr51 {
    margin-right: 51px;
}

.mr52 {
    margin-right: 52px;
}

.mr53 {
    margin-right: 53px;
}

.mr54 {
    margin-right: 54px;
}

.mr55 {
    margin-right: 55px;
}

.mr56 {
    margin-right: 56px;
}

.mr57 {
    margin-right: 57px;
}

.mr58 {
    margin-right: 58px;
}

.mr59 {
    margin-right: 59px;
}

.mr60 {
    margin-right: 60px;
}

.mr70 {
    margin-right: 70px;
}

.mr80 {
    margin-right: 80px;
}


.mt0 {
    margin-top: 0px !important
}

.mt1 {
    margin-top: 1px
}

.mt2 {
    margin-top: 2px
}

.mt3 {
    margin-top: 3px
}

.mt4 {
    margin-top: 4px
}

.mt5 {
    margin-top: 5px
}

.mt6 {
    margin-top: 6px
}

.mt7 {
    margin-top: 7px
}

.mt8 {
    margin-top: 8px
}

.mt9 {
    margin-top: 9px
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}
.mt33 {
    margin-top: 33px;
}
.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mt55 {
    margin-top: 55px;
}

.mt60 {
    margin-top: 60px;
}

.mt65 {
    margin-top: 65px;
}

.mt70 {
    margin-top: 70px;
}

.mt75 {
    margin-top: 75px;
}

.mt80 {
    margin-top: 80px;
}

.mt85 {
    margin-top: 85px;
}

.mt90 {
    margin-top: 90px;
}

.mt95 {
    margin-top: 95px;
}

.mt100 {
    margin-top: 100px;
}

.mb0 {
    margin-bottom: 0px !important
}

.mb1 {
    margin-bottom: 1px
}

.mb2 {
    margin-bottom: 2px
}

.mb3 {
    margin-bottom: 3px
}

.mb4 {
    margin-bottom: 4px
}

.mb5 {
    margin-bottom: 5px
}

.mb6 {
    margin-bottom: 6px
}

.mb7 {
    margin-bottom: 7px
}

.mb8 {
    margin-bottom: 8px
}

.mb9 {
    margin-bottom: 9px
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb55 {
    margin-bottom: 55px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb65 {
    margin-bottom: 65px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb75 {
    margin-bottom: 75px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb85 {
    margin-bottom: 85px;
}

.mb90 {
    margin-bottom: 90px;
}

.mb95 {
    margin-bottom: 95px;
}

.mb100 {
    margin-bottom: 100px;
}

.mlp01 {
    margin-left: 0.1%;
}

.mlp02 {
    margin-left: 0.2%;
}

.mlp03 {
    margin-left: 0.3%;
}

.mlp04 {
    margin-left: 0.4%;
}

.mlp05 {
    margin-left: 0.5%;
}

.mlp06 {
    margin-left: 0.6%;
}

.mlp07 {
    margin-left: 0.7%;
}

.mlp08 {
    margin-left: 0.8%;
}

.mlp09 {
    margin-left: 0.9%;
}

.mlp1 {
    margin-left: 1%;
}

.mlp2 {
    margin-left: 2%!important;
}

.mlp3 {
    margin-left: 3%;
}

.mlp4 {
    margin-left: 4%;
}

.mlp5 {
    margin-left: 5%!important;
}

.mlp6 {
    margin-left: 6%;
}

.mlp7 {
    margin-left: 7%;
}

.mlp8 {
    margin-left: 8%;
}

.mlp9 {
    margin-left: 9%;
}

.mlp10 {
    margin-left: 10%;
}

.mlp11 {
    margin-left: 11%;
}

.mlp12 {
    margin-left: 12%;
}

.mlp13 {
    margin-left: 13%;
}

.mlp14 {
    margin-left: 14%;
}

.mlp15 {
    margin-left: 15%;
}

.mlp16 {
    margin-left: 16%;
}

.mlp17 {
    margin-left: 17%;
}

.mlp18 {
    margin-left: 18%;
}

.mlp19 {
    margin-left: 19%;
}

.mlp20 {
    margin-left: 20%;
}
.mlp50 {
    margin-left: 50%;
}

.mrp01 {
    margin-right: 0.1%;
}

.mrp02 {
    margin-right: 0.2%;
}

.mrp03 {
    margin-right: 0.3%;
}

.mrp04 {
    margin-right: 0.4%;
}

.mrp05 {
    margin-right: 0.5%;
}

.mrp06 {
    margin-right: 0.6%;
}

.mrp07 {
    margin-right: 0.7%;
}

.mrp08 {
    margin-right: 0.8%;
}

.mrp09 {
    margin-right: 0.9%;
}

.mrp1 {
    margin-right: 1%;
}

.mrp2 {
    margin-right: 2%;
}

.mrp3 {
    margin-right: 3%;
}

.mrp4 {
    margin-right: 4%;
}

.mrp5 {
    margin-right: 5%;
}

.mrp6 {
    margin-right: 6%;
}

.mrp7 {
    margin-right: 7%;
}

.mrp8 {
    margin-right: 8%;
}

.mrp9 {
    margin-right: 9%;
}

.mrp10 {
    margin-right: 10%;
}

.mrp11 {
    margin-right: 11%;
}

.mrp12 {
    margin-right: 12%;
}

.mrp13 {
    margin-right: 13%;
}

.mrp14 {
    margin-right: 14%;
}

.mrp15 {
    margin-right: 15%;
}

.mrp16 {
    margin-right: 16%;
}

.mrp17 {
    margin-right: 17%;
}

.mrp18 {
    margin-right: 18%;
}

.mrp19 {
    margin-right: 19%;
}

.mrp20 {
    margin-right: 20%;
}

.pd0 {
    padding: 0px !important;
}

.pd1 {
    padding: 1px
}

.pd2 {
    padding: 2px
}

.pd3 {
    padding: 3px
}

.pd4 {
    padding: 4px
}

.pd5 {
    padding: 5px
}

.pd6 {
    padding: 6px
}

.pd7 {
    padding: 7px
}

.pd8 {
    padding: 8px
}

.pd9 {
    padding: 9px
}

.pd10 {
    padding: 10px;
}

.pd15 {
    padding: 15px;
}

.pd20 {
    padding: 20px;
}

.pd25 {
    padding: 25px;
}

.pd30 {
    padding: 30px;
}

.pd35 {
    padding: 35px;
}

.pd40 {
    padding: 40px;
}

.pd45 {
    padding: 45px;
}

.pd50 {
    padding: 50px;
}

.pdl0 {
    padding-left: 0px !important
}

.pdl1 {
    padding-left: 1px
}

.pdl2 {
    padding-left: 2px
}

.pdl3 {
    padding-left: 3px
}

.pdl4 {
    padding-left: 4px
}

.pdl5 {
    padding-left: 5px
}

.pdl6 {
    padding-left: 6px
}

.pdl7 {
    padding-left: 7px
}

.pdl8 {
    padding-left: 8px
}

.pdl9 {
    padding-left: 9px
}

.pdl10 {
    padding-left: 10px;
}

.pdl15 {
    padding-left: 15px;
}

.pdl20 {
    padding-left: 20px;
}

.pdl24 {
    padding-left: 24px;
}

.pdl25 {
    padding-left: 25px;
}

.pdl30 {
    padding-left: 30px;
}

.pdl35 {
    padding-left: 35px;
}

.pdl40 {
    padding-left: 40px;
}

.pdl45 {
    padding-left: 45px;
}

.pdl50 {
    padding-left: 50px;
}

.pdl55 {
    padding-left: 55px;
}

.pdl60 {
    padding-left: 60px;
}

.pdl65 {
    padding-left: 65px;
}

.pdl70 {
    padding-left: 70px;
}

.pdl75 {
    padding-left: 75px;
}

.pdl80 {
    padding-left: 80px;
}

.pdl85 {
    padding-left: 85px;
}

.pdl90 {
    padding-left: 90px;
}

.pdl95 {
    padding-left: 95px;
}

.pdl100 {
    padding-left: 100px;
}

.pdl105 {
    padding-left: 105px;
}

.pdl110 {
    padding-left: 110px;
}

.pdl115 {
    padding-left: 115px;
}

.pdl120 {
    padding-left: 120px;
}

.pdl125 {
    padding-left: 125px;
}

.pdl130 {
    padding-left: 130px;
}

.pdl135 {
    padding-left: 135px;
}

.pdl140 {
    padding-left: 140px;
}

.pdl145 {
    padding-left: 145px;
}

.pdl150 {
    padding-left: 150px;
}

.pdr0 {
    padding-right: 0px !important
}

.pdr1 {
    padding-right: 1px
}

.pdr2 {
    padding-right: 2px
}

.pdr3 {
    padding-right: 3px
}

.pdr4 {
    padding-right: 4px
}

.pdr5 {
    padding-right: 5px
}

.pdr6 {
    padding-right: 6px
}

.pdr7 {
    padding-right: 7px
}

.pdr8 {
    padding-right: 8px
}

.pdr9 {
    padding-right: 9px
}

.pdr10 {
    padding-right: 10px;
}

.pdr15 {
    padding-right: 15px;
}

.pdr20 {
    padding-right: 20px;
}

.pdr25 {
    padding-right: 25px;
}

.pdr30 {
    padding-right: 30px;
}

.pdr35 {
    padding-right: 35px;
}

.pdr40 {
    padding-right: 40px;
}

.pdr45 {
    padding-right: 45px;
}

.pdr50 {
    padding-right: 50px;
}

.pdt0 {
    padding-top: 0px !important
}

.pdt1 {
    padding-top: 1px
}

.pdt2 {
    padding-top: 2px
}

.pdt3 {
    padding-top: 3px
}

.pdt4 {
    padding-top: 4px
}

.pdt5 {
    padding-top: 5px
}

.pdt6 {
    padding-top: 6px
}

.pdt7 {
    padding-top: 7px
}

.pdt8 {
    padding-top: 8px
}

.pdt9 {
    padding-top: 9px
}

.pdt10 {
    padding-top: 10px;
}

.pdt15 {
    padding-top: 15px;
}

.pdt20 {
    padding-top: 20px;
}

.pdt25 {
    padding-top: 25px;
}

.pdt30 {
    padding-top: 30px;
}

.pdt35 {
    padding-top: 35px;
}

.pdt40 {
    padding-top: 40px;
}

.pdt45 {
    padding-top: 45px;
}

.pdt50 {
    padding-top: 50px;
}

.pdt55 {
    padding-top: 55px;
}

.pdt60 {
    padding-top: 60px;
}

.pdt65 {
    padding-top: 65px;
}

.pdt70 {
    padding-top: 70px;
}

.pdt75 {
    padding-top: 75px;
}

.pdt80 {
    padding-top: 80px;
}

.pdt85 {
    padding-top: 85px;
}

.pdt90 {
    padding-top: 90px;
}

.pdt95 {
    padding-top: 95px;
}

.pdt100 {
    padding-top: 100px;
}

.pdb0 {
    padding-bottom: 0px !important
}

.pdb1 {
    padding-bottom: 1px
}

.pdb2 {
    padding-bottom: 2px
}

.pdb3 {
    padding-bottom: 3px
}

.pdb4 {
    padding-bottom: 4px
}

.pdb5 {
    padding-bottom: 5px
}

.pdb6 {
    padding-bottom: 6px
}

.pdb7 {
    padding-bottom: 7px
}

.pdb8 {
    padding-bottom: 8px
}

.pdb9 {
    padding-bottom: 9px
}

.pdb10 {
    padding-bottom: 10px;
}

.pdb15 {
    padding-bottom: 15px;
}

.pdb20 {
    padding-bottom: 20px;
}

.pdb25 {
    padding-bottom: 25px;
}

.pdb30 {
    padding-bottom: 30px;
}

.pdb35 {
    padding-bottom: 35px;
}

.pdb40 {
    padding-bottom: 40px;
}

.pdb45 {
    padding-bottom: 45px;
}

.pdb50 {
    padding-bottom: 50px;
}

.pdb55 {
    padding-bottom: 55px;
}

.pdb60 {
    padding-bottom: 60px;
}

.pdb65 {
    padding-bottom: 65px;
}

.pdb70 {
    padding-bottom: 70px;
}

.pdb75 {
    padding-bottom: 75px;
}

.pdb80 {
    padding-bottom: 80px;
}

.pdb85 {
    padding-bottom: 85px;
}

.pdb90 {
    padding-bottom: 90px;
}

.pdb95 {
    padding-bottom: 95px;
}

.pdb100 {
    padding-bottom: 100px;
}

.pdlp1 {
    padding-left: 1%;
}

.pdlp2 {
    padding-left: 2%;
}

.pdlp3 {
    padding-left: 3%;
}

.pdlp4 {
    padding-left: 4%;
}

.pdlp5 {
    padding-left: 5%;
}

.pdlp6 {
    padding-left: 6%;
}

.pdlp7 {
    padding-left: 7%;
}

.pdlp8 {
    padding-left: 8%;
}

.pdlp9 {
    padding-left: 9%;
}

.pdlp10 {
    padding-left: 10%;
}

.pdlp11 {
    padding-left: 11%;
}

.pdlp12 {
    padding-left: 12%;
}

.pdlp13 {
    padding-left: 13%;
}

.pdlp14 {
    padding-left: 14%;
}

.pdlp15 {
    padding-left: 15%;
}

.pdlp16 {
    padding-left: 16%;
}

.pdlp17 {
    padding-left: 17%;
}

.pdlp18 {
    padding-left: 18%;
}

.pdlp19 {
    padding-left: 19%;
}

.pdlp20 {
    padding-left: 20%;
}

.pdrp1 {
    padding-right: 1%;
}

.pdrp2 {
    padding-right: 2%;
}

.pdrp3 {
    padding-right: 3%;
}

.pdrp4 {
    padding-right: 4%;
}

.pdrp5 {
    padding-right: 5%;
}

.pdrp6 {
    padding-right: 6%;
}

.pdrp7 {
    padding-right: 7%;
}

.pdrp8 {
    padding-right: 8%;
}

.pdrp9 {
    padding-right: 9%;
}

.pdrp10 {
    padding-right: 10%;
}

.pdrp11 {
    padding-right: 11%;
}

.pdrp12 {
    padding-right: 12%;
}

.pdrp13 {
    padding-right: 13%;
}

.pdrp14 {
    padding-right: 14%;
}

.pdrp15 {
    padding-right: 15%;
}

.pdrp16 {
    padding-right: 16%;
}

.pdrp17 {
    padding-right: 17%;
}

.pdrp18 {
    padding-right: 18%;
}

.pdrp19 {
    padding-right: 19%;
}

.pdrp20 {
    padding-right: 20%;
}

.ft8 {
    font-size: 8px;
}

.ft9 {
    font-size: 9px;
}

.ft10 {
    font-size: 10px;
}

.ft11 {
    font-size: 11px;
}

.ft12 {
    font-size: 12px;
}

.ft13 {
    font-size: 13px;
}

.ft14 {
    font-size: 14px;
}

.ft15 {
    font-size: 15px;
}

.ft16 {
    font-size: 16px;
}

.ft17 {
    font-size: 17px;
}

.ft18 {
    font-size: 18px;
}

.ft19 {
    font-size: 19px;
}

.ft20 {
    font-size: 20px;
}

.ft21 {
    font-size: 21px;
}

.ft22 {
    font-size: 22px;
}

.ft23 {
    font-size: 23px;
}

.ft24 {
    font-size: 24px;
}

.ft25 {
    font-size: 25px;
}

.ft26 {
    font-size: 26px;
}

.ft27 {
    font-size: 27px;
}

.ft28 {
    font-size: 28px;
}

.ft29 {
    font-size: 29px;
}

.ft30 {
    font-size: 30px;
}

.ft31 {
    font-size: 31px;
}

.ft32 {
    font-size: 32px;
}

.ft33 {
    font-size: 33px;
}

.ft34 {
    font-size: 34px;
}

.ft35 {
    font-size: 35px;
}

.ft36 {
    font-size: 36px;
}

.ft37 {
    font-size: 37px;
}

.ft38 {
    font-size: 38px;
}

.ft39 {
    font-size: 39px;
}

.ft40 {
    font-size: 40px;
}

.fw {
    font-weight: bolder;
}

.w2 {
    width: 2px;
}

.w4 {
    width: 4px;
}

.w6 {
    width: 6px;
}

.w8 {
    width: 8px;
}

.w10 {
    width: 10px;
}

.w12 {
    width: 12px;
}

.w14 {
    width: 14px;
}

.w16 {
    width: 16px;
}

.w18 {
    width: 18px;
}

.w20 {
    width: 20px;
}

.w22 {
    width: 22px;
}

.w24 {
    width: 24px;
}

.w26 {
    width: 26px;
}

.w28 {
    width: 28px;
}

.w30 {
    width: 30px;
}

.w32 {
    width: 32px;
}

.w34 {
    width: 34px;
}

.w36 {
    width: 36px;
}

.w38 {
    width: 38px;
}

.w40 {
    width: 40px;
}

.w42 {
    width: 42px;
}

.w44 {
    width: 44px;
}

.w46 {
    width: 46px;
}

.w48 {
    width: 48px;
}

.w50 {
    width: 50px;
}

.w52 {
    width: 52px;
}

.w54 {
    width: 54px;
}

.w56 {
    width: 56px;
}

.w58 {
    width: 58px;
}

.w60 {
    width: 60px;
}

.w62 {
    width: 62px;
}

.w64 {
    width: 64px;
}

.w66 {
    width: 66px;
}

.w68 {
    width: 68px;
}

.w70 {
    width: 70px;
}

.w72 {
    width: 72px;
}

.w74 {
    width: 74px;
}

.w76 {
    width: 76px;
}

.w78 {
    width: 78px;
}

.w80 {
    width: 80px;
}

.w82 {
    width: 82px;
}

.w84 {
    width: 84px;
}

.w86 {
    width: 86px;
}

.w88 {
    width: 88px;
}

.w90 {
    width: 90px;
}

.w92 {
    width: 92px;
}

.w94 {
    width: 94px;
}

.w96 {
    width: 96px;
}

.w98 {
    width: 98px;
}

.w100 {
    width: 100px;
}

.w102 {
    width: 102px;
}

.w104 {
    width: 104px;
}

.w106 {
    width: 106px;
}

.w108 {
    width: 108px;
}

.w110 {
    width: 110px;
}

.w112 {
    width: 112px;
}

.w114 {
    width: 114px;
}

.w116 {
    width: 116px;
}

.w118 {
    width: 118px;
}

.w120 {
    width: 120px;
}

.w122 {
    width: 122px;
}

.w124 {
    width: 124px;
}

.w126 {
    width: 126px;
}

.w128 {
    width: 128px;
}

.w130 {
    width: 130px;
}

.w132 {
    width: 132px;
}

.w134 {
    width: 134px;
}

.w136 {
    width: 136px;
}

.w138 {
    width: 138px;
}

.w140 {
    width: 140px;
}

.w142 {
    width: 142px;
}

.w144 {
    width: 144px;
}

.w146 {
    width: 146px;
}

.w148 {
    width: 148px;
}

.w150 {
    width: 150px;
}

.w152 {
    width: 152px;
}

.w154 {
    width: 154px;
}

.w156 {
    width: 156px;
}

.w158 {
    width: 158px;
}

.w160 {
    width: 160px;
}

.w162 {
    width: 162px;
}

.w164 {
    width: 164px;
}

.w166 {
    width: 166px;
}

.w168 {
    width: 168px;
}

.w170 {
    width: 170px;
}

.w172 {
    width: 172px;
}

.w174 {
    width: 174px;
}

.w176 {
    width: 176px;
}

.w178 {
    width: 178px;
}

.w180 {
    width: 180px;
}

.w182 {
    width: 182px;
}

.w184 {
    width: 184px;
}

.w186 {
    width: 186px;
}

.w188 {
    width: 188px;
}

.w190 {
    width: 190px;
}

.w192 {
    width: 192px;
}

.w194 {
    width: 194px;
}

.w196 {
    width: 196px;
}

.w198 {
    width: 198px;
}

.w200 {
    width: 200px;
}

.w202 {
    width: 202px;
}

.w204 {
    width: 204px;
}

.w206 {
    width: 206px;
}

.w208 {
    width: 208px;
}

.w210 {
    width: 210px;
}

.w212 {
    width: 212px;
}

.w214 {
    width: 214px;
}

.w216 {
    width: 216px;
}

.w218 {
    width: 218px;
}

.w220 {
    width: 220px;
}

.w222 {
    width: 222px;
}

.w224 {
    width: 224px;
}

.w226 {
    width: 226px;
}

.w228 {
    width: 228px;
}

.w230 {
    width: 230px;
}

.w232 {
    width: 232px;
}

.w234 {
    width: 234px;
}

.w236 {
    width: 236px;
}

.w238 {
    width: 238px;
}

.w240 {
    width: 240px;
}

.w242 {
    width: 242px;
}

.w244 {
    width: 244px;
}

.w246 {
    width: 246px;
}

.w248 {
    width: 248px;
}

.w250 {
    width: 250px;
}

.w252 {
    width: 252px;
}

.w254 {
    width: 254px;
}

.w256 {
    width: 256px;
}

.w258 {
    width: 258px;
}

.w260 {
    width: 260px;
}

.w262 {
    width: 262px;
}

.w264 {
    width: 264px;
}

.w266 {
    width: 266px;
}

.w268 {
    width: 268px;
}

.w270 {
    width: 270px;
}

.w272 {
    width: 272px;
}

.w274 {
    width: 274px;
}

.w276 {
    width: 276px;
}

.w278 {
    width: 278px;
}

.w280 {
    width: 280px;
}

.w282 {
    width: 282px;
}

.w284 {
    width: 284px;
}

.w286 {
    width: 286px;
}

.w288 {
    width: 288px;
}

.w290 {
    width: 290px;
}

.w292 {
    width: 292px;
}

.w294 {
    width: 294px;
}

.w296 {
    width: 296px;
}

.w298 {
    width: 298px;
}

.w300 {
    width: 300px;
}

.w302 {
    width: 302px;
}

.w304 {
    width: 304px;
}

.w306 {
    width: 306px;
}

.w308 {
    width: 308px;
}

.w310 {
    width: 310px;
}

.w312 {
    width: 312px;
}

.w314 {
    width: 314px;
}

.w316 {
    width: 316px;
}

.w318 {
    width: 318px;
}

.w320 {
    width: 320px;
}

.w322 {
    width: 322px;
}

.w324 {
    width: 324px;
}

.w326 {
    width: 326px;
}

.w328 {
    width: 328px;
}

.w330 {
    width: 330px;
}

.w332 {
    width: 332px;
}

.w334 {
    width: 334px;
}

.w336 {
    width: 336px;
}

.w338 {
    width: 338px;
}

.w340 {
    width: 340px;
}

.w342 {
    width: 342px;
}

.w344 {
    width: 344px;
}

.w346 {
    width: 346px;
}

.w348 {
    width: 348px;
}

.w350 {
    width: 350px;
}

.w352 {
    width: 352px;
}

.w354 {
    width: 354px;
}

.w356 {
    width: 356px;
}

.w358 {
    width: 358px;
}

.w360 {
    width: 360px;
}

.w362 {
    width: 362px;
}

.w364 {
    width: 364px;
}

.w366 {
    width: 366px;
}

.w368 {
    width: 368px;
}

.w370 {
    width: 370px;
}

.w372 {
    width: 372px;
}

.w374 {
    width: 374px;
}

.w376 {
    width: 376px;
}

.w378 {
    width: 378px;
}

.w380 {
    width: 380px;
}

.w382 {
    width: 382px;
}

.w384 {
    width: 384px;
}

.w386 {
    width: 386px;
}

.w388 {
    width: 388px;
}

.w390 {
    width: 390px;
}

.w392 {
    width: 392px;
}

.w394 {
    width: 394px;
}

.w396 {
    width: 396px;
}

.w398 {
    width: 398px;
}

.w400 {
    width: 400px;
}

.w402 {
    width: 402px;
}

.w404 {
    width: 404px;
}

.w406 {
    width: 406px;
}

.w408 {
    width: 408px;
}

.w410 {
    width: 410px;
}

.w412 {
    width: 412px;
}

.w414 {
    width: 414px;
}

.w416 {
    width: 416px;
}

.w418 {
    width: 418px;
}

.w420 {
    width: 420px;
}

.w422 {
    width: 422px;
}

.w424 {
    width: 424px;
}

.w426 {
    width: 426px;
}

.w428 {
    width: 428px;
}

.w430 {
    width: 430px;
}

.w432 {
    width: 432px;
}

.w434 {
    width: 434px;
}

.w436 {
    width: 436px;
}

.w438 {
    width: 438px;
}

.w440 {
    width: 440px;
}

.w442 {
    width: 442px;
}

.w444 {
    width: 444px;
}

.w446 {
    width: 446px;
}

.w448 {
    width: 448px;
}

.w450 {
    width: 450px;
}

.w452 {
    width: 452px;
}

.w454 {
    width: 454px;
}

.w456 {
    width: 456px;
}

.w458 {
    width: 458px;
}

.w460 {
    width: 460px;
}

.w462 {
    width: 462px;
}

.w464 {
    width: 464px;
}

.w466 {
    width: 466px;
}

.w468 {
    width: 468px;
}

.w470 {
    width: 470px;
}

.w472 {
    width: 472px;
}

.w474 {
    width: 474px;
}

.w476 {
    width: 476px;
}

.w478 {
    width: 478px;
}

.w480 {
    width: 480px;
}

.w482 {
    width: 482px;
}

.w484 {
    width: 484px;
}

.w486 {
    width: 486px;
}

.w488 {
    width: 488px;
}

.w490 {
    width: 490px;
}

.w492 {
    width: 492px;
}

.w494 {
    width: 494px;
}

.w496 {
    width: 496px;
}

.w498 {
    width: 498px;
}

.w500 {
    width: 500px;
}

.w502 {
    width: 502px;
}

.w504 {
    width: 504px;
}

.w506 {
    width: 506px;
}

.w508 {
    width: 508px;
}

.w510 {
    width: 510px;
}

.w512 {
    width: 512px;
}

.w514 {
    width: 514px;
}

.w516 {
    width: 516px;
}

.w518 {
    width: 518px;
}

.w520 {
    width: 520px;
}

.w522 {
    width: 522px;
}

.w524 {
    width: 524px;
}

.w526 {
    width: 526px;
}

.w528 {
    width: 528px;
}

.w530 {
    width: 530px;
}

.w532 {
    width: 532px;
}

.w534 {
    width: 534px;
}

.w536 {
    width: 536px;
}

.w538 {
    width: 538px;
}

.w540 {
    width: 540px;
}

.w542 {
    width: 542px;
}

.w544 {
    width: 544px;
}

.w546 {
    width: 546px;
}

.w548 {
    width: 548px;
}

.w550 {
    width: 550px;
}

.w552 {
    width: 552px;
}

.w554 {
    width: 554px;
}

.w556 {
    width: 556px;
}

.w558 {
    width: 558px;
}

.w560 {
    width: 560px;
}

.w562 {
    width: 562px;
}

.w564 {
    width: 564px;
}

.w566 {
    width: 566px;
}

.w568 {
    width: 568px;
}

.w570 {
    width: 570px;
}

.w572 {
    width: 572px;
}

.w574 {
    width: 574px;
}

.w576 {
    width: 576px;
}

.w578 {
    width: 578px;
}

.w580 {
    width: 580px;
}

.w582 {
    width: 582px;
}

.w584 {
    width: 584px;
}

.w586 {
    width: 586px;
}

.w588 {
    width: 588px;
}

.w590 {
    width: 590px;
}

.w592 {
    width: 592px;
}

.w594 {
    width: 594px;
}

.w596 {
    width: 596px;
}

.w598 {
    width: 598px;
}

.w600 {
    width: 600px;
}

.w602 {
    width: 602px;
}

.w604 {
    width: 604px;
}

.w606 {
    width: 606px;
}

.w608 {
    width: 608px;
}

.w610 {
    width: 610px;
}

.w612 {
    width: 612px;
}

.w614 {
    width: 614px;
}

.w616 {
    width: 616px;
}

.w618 {
    width: 618px;
}

.w620 {
    width: 620px;
}

.w622 {
    width: 622px;
}

.w624 {
    width: 624px;
}

.w626 {
    width: 626px;
}

.w628 {
    width: 628px;
}

.w630 {
    width: 630px;
}

.w632 {
    width: 632px;
}

.w634 {
    width: 634px;
}

.w636 {
    width: 636px;
}

.w638 {
    width: 638px;
}

.w640 {
    width: 640px;
}

.w642 {
    width: 642px;
}

.w644 {
    width: 644px;
}

.w646 {
    width: 646px;
}

.w648 {
    width: 648px;
}

.w650 {
    width: 650px;
}

.w652 {
    width: 652px;
}

.w654 {
    width: 654px;
}

.w656 {
    width: 656px;
}

.w658 {
    width: 658px;
}

.w660 {
    width: 660px;
}

.w662 {
    width: 662px;
}

.w664 {
    width: 664px;
}

.w666 {
    width: 666px;
}

.w668 {
    width: 668px;
}

.w670 {
    width: 670px;
}

.w672 {
    width: 672px;
}

.w674 {
    width: 674px;
}

.w676 {
    width: 676px;
}

.w678 {
    width: 678px;
}

.w680 {
    width: 680px;
}

.w682 {
    width: 682px;
}

.w684 {
    width: 684px;
}

.w686 {
    width: 686px;
}

.w688 {
    width: 688px;
}

.w690 {
    width: 690px;
}

.w692 {
    width: 692px;
}

.w694 {
    width: 694px;
}

.w696 {
    width: 696px;
}

.w698 {
    width: 698px;
}

.w700 {
    width: 700px;
}

.w702 {
    width: 702px;
}

.w704 {
    width: 704px;
}

.w706 {
    width: 706px;
}

.w708 {
    width: 708px;
}

.w710 {
    width: 710px;
}

.w712 {
    width: 712px;
}

.w714 {
    width: 714px;
}

.w716 {
    width: 716px;
}

.w718 {
    width: 718px;
}

.w720 {
    width: 720px;
}

.w722 {
    width: 722px;
}

.w724 {
    width: 724px;
}

.w726 {
    width: 726px;
}

.w728 {
    width: 728px;
}

.w730 {
    width: 730px;
}

.w732 {
    width: 732px;
}

.w734 {
    width: 734px;
}

.w736 {
    width: 736px;
}

.w738 {
    width: 738px;
}

.w740 {
    width: 740px;
}

.w742 {
    width: 742px;
}

.w744 {
    width: 744px;
}

.w746 {
    width: 746px;
}

.w748 {
    width: 748px;
}

.w750 {
    width: 750px;
}

.w752 {
    width: 752px;
}

.w754 {
    width: 754px;
}

.w756 {
    width: 756px;
}

.w758 {
    width: 758px;
}

.w760 {
    width: 760px;
}

.w762 {
    width: 762px;
}

.w764 {
    width: 764px;
}

.w766 {
    width: 766px;
}

.w768 {
    width: 768px;
}

.w770 {
    width: 770px;
}

.w772 {
    width: 772px;
}

.w774 {
    width: 774px;
}

.w776 {
    width: 776px;
}

.w778 {
    width: 778px;
}

.w780 {
    width: 780px;
}

.w782 {
    width: 782px;
}

.w784 {
    width: 784px;
}

.w786 {
    width: 786px;
}

.w788 {
    width: 788px;
}

.w790 {
    width: 790px;
}

.w792 {
    width: 792px;
}

.w794 {
    width: 794px;
}

.w796 {
    width: 796px;
}

.w798 {
    width: 798px;
}

.w800 {
    width: 800px;
}

.w802 {
    width: 802px;
}

.w804 {
    width: 804px;
}

.w806 {
    width: 806px;
}

.w808 {
    width: 808px;
}

.w810 {
    width: 810px;
}

.w812 {
    width: 812px;
}

.w814 {
    width: 814px;
}

.w816 {
    width: 816px;
}

.w818 {
    width: 818px;
}

.w820 {
    width: 820px;
}

.w822 {
    width: 822px;
}

.w824 {
    width: 824px;
}

.w826 {
    width: 826px;
}

.w828 {
    width: 828px;
}

.w830 {
    width: 830px;
}

.w832 {
    width: 832px;
}

.w834 {
    width: 834px;
}

.w836 {
    width: 836px;
}

.w838 {
    width: 838px;
}

.w840 {
    width: 840px;
}

.w842 {
    width: 842px;
}

.w844 {
    width: 844px;
}

.w846 {
    width: 846px;
}

.w848 {
    width: 848px;
}

.w850 {
    width: 850px;
}

.w852 {
    width: 852px;
}

.w854 {
    width: 854px;
}

.w856 {
    width: 856px;
}

.w858 {
    width: 858px;
}

.w860 {
    width: 860px;
}

.w862 {
    width: 862px;
}

.w864 {
    width: 864px;
}

.w866 {
    width: 866px;
}

.w868 {
    width: 868px;
}

.w870 {
    width: 870px;
}

.w872 {
    width: 872px;
}

.w874 {
    width: 874px;
}

.w876 {
    width: 876px;
}

.w878 {
    width: 878px;
}

.w880 {
    width: 880px;
}

.w882 {
    width: 882px;
}

.w884 {
    width: 884px;
}

.w886 {
    width: 886px;
}

.w888 {
    width: 888px;
}

.w890 {
    width: 890px;
}

.w892 {
    width: 892px;
}

.w894 {
    width: 894px;
}

.w896 {
    width: 896px;
}

.w898 {
    width: 898px;
}

.w900 {
    width: 900px;
}

.w902 {
    width: 902px;
}

.w904 {
    width: 904px;
}

.w906 {
    width: 906px;
}

.w908 {
    width: 908px;
}

.w910 {
    width: 910px;
}

.w912 {
    width: 912px;
}

.w914 {
    width: 914px;
}

.w916 {
    width: 916px;
}

.w918 {
    width: 918px;
}

.w920 {
    width: 920px;
}

.w922 {
    width: 922px;
}

.w924 {
    width: 924px;
}

.w926 {
    width: 926px;
}

.w928 {
    width: 928px;
}

.w930 {
    width: 930px;
}

.w932 {
    width: 932px;
}

.w934 {
    width: 934px;
}

.w936 {
    width: 936px;
}

.w938 {
    width: 938px;
}

.w940 {
    width: 940px;
}

.w942 {
    width: 942px;
}

.w944 {
    width: 944px;
}

.w946 {
    width: 946px;
}

.w948 {
    width: 948px;
}

.w950 {
    width: 950px;
}

.w952 {
    width: 952px;
}

.w954 {
    width: 954px;
}

.w956 {
    width: 956px;
}

.w958 {
    width: 958px;
}

.w960 {
    width: 960px;
}

.w962 {
    width: 962px;
}

.w964 {
    width: 964px;
}

.w966 {
    width: 966px;
}

.w968 {
    width: 968px;
}

.w970 {
    width: 970px;
}

.w972 {
    width: 972px;
}

.w974 {
    width: 974px;
}

.w976 {
    width: 976px;
}

.w978 {
    width: 978px;
}

.w980 {
    width: 980px;
}

.w982 {
    width: 982px;
}

.w984 {
    width: 984px;
}

.w986 {
    width: 986px;
}

.w988 {
    width: 988px;
}

.w990 {
    width: 990px;
}

.w992 {
    width: 992px;
}

.w994 {
    width: 994px;
}

.w996 {
    width: 996px;
}

.w998 {
    width: 998px;
}

.w1000 {
    width: 1000px;
}

.w1002 {
    width: 1002px;
}

.w1004 {
    width: 1004px;
}

.w1006 {
    width: 1006px;
}

.w1008 {
    width: 1008px;
}

.w1010 {
    width: 1010px;
}

.w1012 {
    width: 1012px;
}

.w1014 {
    width: 1014px;
}

.w1016 {
    width: 1016px;
}

.w1018 {
    width: 1018px;
}

.w1020 {
    width: 1020px;
}

.w1022 {
    width: 1022px;
}

.w1024 {
    width: 1024px;
}

.w1026 {
    width: 1026px;
}

.w1028 {
    width: 1028px;
}

.w1030 {
    width: 1030px;
}

.w1032 {
    width: 1032px;
}

.w1034 {
    width: 1034px;
}

.w1036 {
    width: 1036px;
}

.w1038 {
    width: 1038px;
}

.w1040 {
    width: 1040px;
}

.w1042 {
    width: 1042px;
}

.w1044 {
    width: 1044px;
}

.w1046 {
    width: 1046px;
}

.w1048 {
    width: 1048px;
}

.w1050 {
    width: 1050px;
}

.w1052 {
    width: 1052px;
}

.w1054 {
    width: 1054px;
}

.w1056 {
    width: 1056px;
}

.w1058 {
    width: 1058px;
}

.w1060 {
    width: 1060px;
}

.w1062 {
    width: 1062px;
}

.w1064 {
    width: 1064px;
}

.w1066 {
    width: 1066px;
}

.w1068 {
    width: 1068px;
}

.w1070 {
    width: 1070px;
}

.w1072 {
    width: 1072px;
}

.w1074 {
    width: 1074px;
}

.w1076 {
    width: 1076px;
}

.w1078 {
    width: 1078px;
}

.w1080 {
    width: 1080px;
}

.w1082 {
    width: 1082px;
}

.w1084 {
    width: 1084px;
}

.w1086 {
    width: 1086px;
}

.w1088 {
    width: 1088px;
}

.w1090 {
    width: 1090px;
}

.w1092 {
    width: 1092px;
}

.w1094 {
    width: 1094px;
}

.w1096 {
    width: 1096px;
}

.w1098 {
    width: 1098px;
}

.w1100 {
    width: 1100px;
}

.w1em {
    width: 1em;
}

.w2em {
    width: 2em;
}

.w3em {
    width: 3em;
}

.w4em {
    width: 4em;
}

.w5em {
    width: 5em;
}

.w6em {
    width: 6em;
}

.w7em {
    width: 7em;
}

.w8em {
    width: 8em;
}

.w9em {
    width: 9em;
}

.w10em {
    width: 10em;
}

.w11em {
    width: 11em;
}

.w12em {
    width: 12em;
}

.posa-r10 {
    right: 10%;
    top: 0
}

.top0 {
    top: 0
}

.mt-1 {
    margin-top: -1px
}

.mt-2 {
    margin-top: -2px
}

.mt-3 {
    margin-top: -3px
}

.mt-4 {
    margin-top: -4px
}

.mt-5 {
    margin-top: -5px
}

.mt-6 {
    margin-top: -6px
}

.mt-7 {
    margin-top: -7px
}

.mt-8 {
    margin-top: -8px
}

.mt-9 {
    margin-top: -9px
}

.mt-10 {
    margin-top: -10px;
}

.mt-12 {
    margin-top: -12px;
}

.mt-14 {
    margin-top: -14px;
}

.mt-16 {
    margin-top: -16px;
}

.mt-18 {
    margin-top: -18px;
}

.mt-20 {
    margin-top: -20px;
}

.mt-22 {
    margin-top: -22px;
}

.mt-24 {
    margin-top: -24px;
}

.mt-26 {
    margin-top: -26px;
}

.mt-28 {
    margin-top: -28px;
}

.mt-30 {
    margin-top: -30px;
}

.mt-32 {
    margin-top: -32px;
}

.mt-34 {
    margin-top: -34px;
}

.mt-36 {
    margin-top: -36px;
}

.mt-38 {
    margin-top: -38px;
}

.mt-40 {
    margin-top: -40px;
}

.mb-1 {
    margin-bottom: -1px
}

.mb-2 {
    margin-bottom: -2px
}

.mb-3 {
    margin-bottom: -3px
}

.mb-4 {
    margin-bottom: -4px
}

.mb-5 {
    margin-bottom: -5px
}

.mb-6 {
    margin-bottom: -6px
}

.mb-7 {
    margin-bottom: -7px
}

.mb-8 {
    margin-bottom: -8px
}

.mb-9 {
    margin-bottom: -9px
}

.mb-10 {
    margin-bottom: -10px;
}

.mb-12 {
    margin-bottom: -12px;
}

.mb-14 {
    margin-bottom: -14px;
}

.mb-16 {
    margin-bottom: -16px;
}

.mb-18 {
    margin-bottom: -18px;
}

.mb-20 {
    margin-bottom: -20px;
}

.mb-22 {
    margin-bottom: -22px;
}

.mb-24 {
    margin-bottom: -24px;
}

.mb-26 {
    margin-bottom: -26px;
}

.mb-28 {
    margin-bottom: -28px;
}

.mb-30 {
    margin-bottom: -30px;
}

.mb-32 {
    margin-bottom: -32px;
}

.mb-34 {
    margin-bottom: -34px;
}

.mb-36 {
    margin-bottom: -36px;
}

.mb-38 {
    margin-bottom: -38px;
}

.mb-40 {
    margin-bottom: -40px;
}

.offtop5 {
    top: 5px;
}

.offtop8 {
    top: 8px;
}

.offtop10 {
    top: 10px;
}

.offtop20 {
    top: 20px;
}

.offtop30 {
    top: 30px;
}

.offtop40 {
    top: 40px;
}

.offtop50 {
    top: 50px;
}

.offtop60 {
    top: 60px;
}

.offtop70 {
    top: 70px;
}

.offtop80 {
    top: 80px;
}

.offtop90 {
    top: 90px;
}

.offtop100 {
    top: 100px;
}

.offtop110 {
    top: 110px;
}

.offtop120 {
    top: 120px;
}

.offtop130 {
    top: 130px;
}

.offtop140 {
    top: 140px;
}

.offtop150 {
    top: 150px;
}

.offtop160 {
    top: 160px;
}

.offtop170 {
    top: 170px;
}

.offtop180 {
    top: 180px;
}

.offtop190 {
    top: 190px;
}

.offtop200 {
    top: 200px;
}

.offtop210 {
    top: 210px;
}

.offtop220 {
    top: 220px;
}

.offtop230 {
    top: 230px;
}

.offtop240 {
    top: 240px;
}

.offtop250 {
    top: 250px;
}

.offtop260 {
    top: 260px;
}

.offtop270 {
    top: 270px;
}

.offtop280 {
    top: 280px;
}

.offtop290 {
    top: 290px;
}

.offtop300 {
    top: 300px;
}

.offtop310 {
    top: 310px;
}

.offtop320 {
    top: 320px;
}

.offtop330 {
    top: 330px;
}

.offtop340 {
    top: 340px;
}

.offtop350 {
    top: 350px;
}

.offtop360 {
    top: 360px;
}

.offtop370 {
    top: 370px;
}

.offtop380 {
    top: 380px;
}

.offtop390 {
    top: 390px;
}

.offtop400 {
    top: 400px;
}

.offtopp1 {
    top: 1%;
}

.offtopp2 {
    top: 2%;
}

.offtopp3 {
    top: 3%;
}

.offtopp4 {
    top: 4%;
}

.offtopp5 {
    top: 5%;
}

.offtopp6 {
    top: 6%;
}

.offtopp7 {
    top: 7%;
}

.offtopp8 {
    top: 8%;
}

.offtopp9 {
    top: 9%;
}

.offtopp10 {
    top: 10%;
}

.offtopp11 {
    top: 11%;
}

.offtopp12 {
    top: 12%;
}

.offtopp13 {
    top: 13%;
}

.offtopp14 {
    top: 14%;
}

.offtopp15 {
    top: 15%;
}

.offtopp16 {
    top: 16%;
}

.offtopp17 {
    top: 17%;
}

.offtopp18 {
    top: 18%;
}

.offtopp19 {
    top: 19%;
}

.offtopp20 {
    top: 20%;
}

.offtopp21 {
    top: 21%;
}

.offtopp22 {
    top: 22%;
}

.offtopp23 {
    top: 23%;
}

.offtopp24 {
    top: 24%;
}

.offtopp25 {
    top: 25%;
}

.offtopp26 {
    top: 26%;
}

.offtopp27 {
    top: 27%;
}

.offtopp28 {
    top: 28%;
}

.offtopp29 {
    top: 29%;
}

.offtopp30 {
    top: 30%;
}

.offtopp31 {
    top: 31%;
}

.offtopp32 {
    top: 32%;
}

.offtopp33 {
    top: 33%;
}

.offtopp34 {
    top: 34%;
}

.offtopp35 {
    top: 35%;
}

.offtopp36 {
    top: 36%;
}

.offtopp37 {
    top: 37%;
}

.offtopp38 {
    top: 38%;
}

.offtopp39 {
    top: 39%;
}

.offtopp40 {
    top: 40%;
}

.offtopp41 {
    top: 41%;
}

.offtopp42 {
    top: 42%;
}

.offtopp43 {
    top: 43%;
}

.offtopp44 {
    top: 44%;
}

.offtopp45 {
    top: 45%;
}

.offtopp46 {
    top: 46%;
}

.offtopp47 {
    top: 47%;
}

.offtopp48 {
    top: 48%;
}

.offtopp49 {
    top: 49%;
}

.offtopp50 {
    top: 50%;
}

.offtopp51 {
    top: 51%;
}

.offtopp52 {
    top: 52%;
}

.offtopp53 {
    top: 53%;
}

.offtopp54 {
    top: 54%;
}

.offtopp55 {
    top: 55%;
}

.offtopp56 {
    top: 56%;
}

.offtopp57 {
    top: 57%;
}

.offtopp58 {
    top: 58%;
}

.offtopp59 {
    top: 59%;
}

.offtopp60 {
    top: 60%;
}

.offtopp61 {
    top: 61%;
}

.offtopp62 {
    top: 62%;
}

.offtopp63 {
    top: 63%;
}

.offtopp64 {
    top: 64%;
}

.offtopp65 {
    top: 65%;
}

.offtopp66 {
    top: 66%;
}

.offtopp67 {
    top: 67%;
}

.offtopp68 {
    top: 68%;
}

.offtopp69 {
    top: 69%;
}

.offtopp70 {
    top: 70%;
}

.leftp0 {
    left: 0%;
}

.leftp1 {
    left: 1%;
}

.leftp2 {
    left: 2%;
}

.leftp3 {
    left: 3%;
}

.leftp4 {
    left: 4%;
}

.leftp5 {
    left: 5%;
}

.leftp6 {
    left: 6%;
}

.leftp7 {
    left: 7%;
}

.leftp8 {
    left: 8%;
}

.leftp9 {
    left: 9%;
}

.leftp10 {
    left: 10%;
}

.leftp11 {
    left: 11%;
}

.leftp12 {
    left: 12%;
}

.leftp13 {
    left: 13%;
}

.leftp14 {
    left: 14%;
}

.leftp15 {
    left: 15%;
}

.leftp16 {
    left: 16%;
}

.leftp17 {
    left: 17%;
}

.leftp18 {
    left: 18%;
}

.leftp19 {
    left: 19%;
}

.leftp20 {
    left: 20%;
}

.leftp21 {
    left: 21%;
}

.leftp22 {
    left: 22%;
}

.leftp23 {
    left: 23%;
}

.leftp24 {
    left: 24%;
}

.leftp25 {
    left: 25%;
}

.leftp26 {
    left: 26%;
}

.leftp27 {
    left: 27%;
}

.leftp28 {
    left: 28%;
}

.leftp29 {
    left: 29%;
}

.leftp30 {
    left: 30%;
}

.leftp31 {
    left: 31%;
}

.leftp32 {
    left: 32%;
}

.leftp33 {
    left: 33%;
}

.leftp34 {
    left: 34%;
}

.leftp35 {
    left: 35%;
}

.leftp36 {
    left: 36%;
}

.leftp37 {
    left: 37%;
}

.leftp38 {
    left: 38%;
}

.leftp39 {
    left: 39%;
}

.leftp40 {
    left: 40%;
}

.leftp41 {
    left: 41%;
}

.leftp42 {
    left: 42%;
}

.leftp43 {
    left: 43%;
}

.leftp44 {
    left: 44%;
}

.leftp45 {
    left: 45%;
}

.leftp46 {
    left: 46%;
}

.leftp47 {
    left: 47%;
}

.leftp48 {
    left: 48%;
}

.leftp49 {
    left: 49%;
}

.leftp50 {
    left: 50%;
}

.leftp51 {
    left: 51%;
}

.leftp52 {
    left: 52%;
}

.leftp53 {
    left: 53%;
}

.leftp54 {
    left: 54%;
}

.leftp55 {
    left: 55%;
}

.leftp56 {
    left: 56%;
}

.leftp57 {
    left: 57%;
}

.leftp58 {
    left: 58%;
}

.leftp59 {
    left: 59%;
}

.leftp60 {
    left: 60%;
}

.leftp61 {
    left: 61%;
}

.leftp62 {
    left: 62%;
}

.leftp63 {
    left: 63%;
}

.leftp64 {
    left: 64%;
}

.leftp65 {
    left: 65%;
}

.leftp66 {
    left: 66%;
}

.leftp67 {
    left: 67%;
}

.leftp68 {
    left: 68%;
}

.leftp69 {
    left: 69%;
}

.leftp70 {
    left: 70%;
}

.leftp71 {
    left: 71%;
}

.leftp72 {
    left: 72%;
}

.leftp73 {
    left: 73%;
}

.leftp74 {
    left: 74%;
}

.leftp75 {
    left: 75%;
}

.leftp76 {
    left: 76%;
}

.leftp77 {
    left: 77%;
}

.leftp78 {
    left: 78%;
}

.leftp79 {
    left: 79%;
}

.leftp80 {
    left: 80%;
}

.leftp81 {
    left: 81%;
}

.leftp82 {
    left: 82%;
}

.leftp83 {
    left: 83%;
}

.leftp84 {
    left: 84%;
}

.leftp85 {
    left: 85%;
}

.leftp86 {
    left: 86%;
}

.leftp87 {
    left: 87%;
}

.leftp88 {
    left: 88%;
}

.leftp89 {
    left: 89%;
}

.leftp90 {
    left: 90%;
}

.leftp91 {
    left: 91%;
}

.leftp92 {
    left: 92%;
}

.leftp93 {
    left: 93%;
}

.leftp94 {
    left: 94%;
}

.leftp95 {
    left: 95%;
}

.leftp96 {
    left: 96%;
}

.leftp97 {
    left: 97%;
}

.leftp98 {
    left: 98%;
}

.leftp99 {
    left: 99%;
}

.leftp100 {
    left: 100%;
}

.rightp0 {
    right: 0%;
}

.rightp1 {
    right: 1%;
}

.rightp2 {
    right: 2%;
}

.rightp3 {
    right: 3%;
}

.rightp4 {
    right: 4%;
}

.rightp5 {
    right: 5%;
}

.rightp6 {
    right: 6%;
}

.rightp7 {
    right: 7%;
}

.rightp8 {
    right: 8%;
}

.rightp9 {
    right: 9%;
}

.rightp10 {
    right: 10%;
}

.rightp11 {
    right: 11%;
}

.rightp12 {
    right: 12%;
}

.rightp13 {
    right: 13%;
}

.rightp14 {
    right: 14%;
}

.rightp15 {
    right: 15%;
}

.rightp16 {
    right: 16%;
}

.rightp17 {
    right: 17%;
}

.rightp18 {
    right: 18%;
}

.rightp19 {
    right: 19%;
}

.rightp20 {
    right: 20%;
}

.rightp21 {
    right: 21%;
}

.rightp22 {
    right: 22%;
}

.rightp23 {
    right: 23%;
}

.rightp24 {
    right: 24%;
}

.rightp25 {
    right: 25%;
}

.rightp26 {
    right: 26%;
}

.rightp27 {
    right: 27%;
}

.rightp28 {
    right: 28%;
}

.rightp29 {
    right: 29%;
}

.rightp30 {
    right: 30%;
}

.rightp31 {
    right: 31%;
}

.rightp32 {
    right: 32%;
}

.rightp33 {
    right: 33%;
}

.rightp34 {
    right: 34%;
}

.rightp35 {
    right: 35%;
}

.rightp36 {
    right: 36%;
}

.rightp37 {
    right: 37%;
}

.rightp38 {
    right: 38%;
}

.rightp39 {
    right: 39%;
}

.rightp40 {
    right: 40%;
}

.rightp41 {
    right: 41%;
}

.rightp42 {
    right: 42%;
}

.rightp43 {
    right: 43%;
}

.rightp44 {
    right: 44%;
}

.rightp45 {
    right: 45%;
}

.rightp46 {
    right: 46%;
}

.rightp47 {
    right: 47%;
}

.rightp48 {
    right: 48%;
}

.rightp49 {
    right: 49%;
}

.rightp50 {
    right: 50%;
}

.rightp51 {
    right: 51%;
}

.rightp52 {
    right: 52%;
}

.rightp53 {
    right: 53%;
}

.rightp54 {
    right: 54%;
}

.rightp55 {
    right: 55%;
}

.rightp56 {
    right: 56%;
}

.rightp57 {
    right: 57%;
}

.rightp58 {
    right: 58%;
}

.rightp59 {
    right: 59%;
}

.rightp60 {
    right: 60%;
}

.rightp61 {
    right: 61%;
}

.rightp62 {
    right: 62%;
}

.rightp63 {
    right: 63%;
}

.rightp64 {
    right: 64%;
}

.rightp65 {
    right: 65%;
}

.rightp66 {
    right: 66%;
}

.rightp67 {
    right: 67%;
}

.rightp68 {
    right: 68%;
}

.rightp69 {
    right: 69%;
}

.rightp70 {
    right: 70%;
}

.rightp71 {
    right: 71%;
}

.rightp72 {
    right: 72%;
}

.rightp73 {
    right: 73%;
}

.rightp74 {
    right: 74%;
}

.rightp75 {
    right: 75%;
}

.rightp76 {
    right: 76%;
}

.rightp77 {
    right: 77%;
}

.rightp78 {
    right: 78%;
}

.rightp79 {
    right: 79%;
}

.rightp80 {
    right: 80%;
}

.rightp81 {
    right: 81%;
}

.rightp82 {
    right: 82%;
}

.rightp83 {
    right: 83%;
}

.rightp84 {
    right: 84%;
}

.rightp85 {
    right: 85%;
}

.rightp86 {
    right: 86%;
}

.rightp87 {
    right: 87%;
}

.rightp88 {
    right: 88%;
}

.rightp89 {
    right: 89%;
}

.rightp90 {
    right: 90%;
}

.rightp91 {
    right: 91%;
}

.rightp92 {
    right: 92%;
}

.rightp93 {
    right: 93%;
}

.rightp94 {
    right: 94%;
}

.rightp95 {
    right: 95%;
}

.rightp96 {
    right: 96%;
}

.rightp97 {
    right: 97%;
}

.rightp98 {
    right: 98%;
}

.rightp99 {
    right: 99%;
}

.rightp100 {
    right: 100%;
}

.border-gray {
    border: 1px solid #cdcdcd
}

.corner-all-4 {
    -webkit-border-radius: 4px
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.corner-all-6 {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.corner-all-8 {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.corner-all-10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.corner-all-15 {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.corner-all-20 {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.corner-all-30 {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.corner-all-90 {
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
}

.posa-r0b0 {
    right: 0;
    bottom: 0
}

.posa-r0t0 {
    right: 0;
    top: 0
}

.posa-l0b0 {
    left: 0;
    bottom: 0
}

.maxw-100 {
    max-width: 100px;
}

.maxw-200 {
    max-width: 200px;
}

.maxw-300 {
    max-width: 300px;
}

.maxw-400 {
    max-width: 400px;
}

.maxw-450 {
    max-width: 450px;
}

.maxw-500 {
    max-width: 500px;
}

.maxw-600 {
    max-width: 600px;
}

.maxw-700 {
    max-width: 700px;
}

.maxw-800 {
    max-width: 800px;
}

.maxw-900 {
    max-width: 900px;
}

.maxw-1000 {
    max-width: 1000px;
}

.maxh-20 {
    max-height: 20px
}

.maxh-40 {
    max-height: 40px
}

.maxh-60 {
    max-height: 60px;
}

.maxh-80 {
    max-height: 80px
}

.maxh-100 {
    max-height: 100px
}

.maxh-120 {
    max-height: 120px
}

.maxh-140 {
    max-height: 140px
}

.maxh-160 {
    max-height: 160px
}

.maxh-180 {
    max-height: 180px
}

.maxh-200 {
    max-height: 200px
}

.maxh-220 {
    max-height: 220px
}

.maxh-240 {
    max-height: 240px
}

.maxh-260 {
    max-height: 260px
}

.maxh-280 {
    max-height: 280px
}

.maxh-300 {
    max-height: 300px
}

.maxh-320 {
    max-height: 320px
}

.maxh-340 {
    max-height: 340px
}

.maxh-360 {
    max-height: 360px
}

.maxh-380 {
    max-height: 380px
}

.maxh-400 {
    max-height: 400px
}

.maxh-420 {
    max-height: 420px
}

.maxh-440 {
    max-height: 440px
}

.maxh-460 {
    max-height: 460px
}

.maxh-480 {
    max-height: 480px
}

.maxh-500 {
    max-height: 500px
}

.maxh-520 {
    max-height: 520px
}

.maxh-540 {
    max-height: 540px
}

.maxh-560 {
    max-height: 560px
}

.maxh-580 {
    max-height: 580px
}

.maxh-600 {
    max-height: 600px
}

.maxh-620 {
    max-height: 620px
}

.maxh-640 {
    max-height: 640px
}

.maxh-660 {
    max-height: 660px
}

.maxh-680 {
    max-height: 680px
}

.maxh-700 {
    max-height: 700px
}

.maxh-720 {
    max-height: 720px
}

.maxh-740 {
    max-height: 740px
}

.maxh-760 {
    max-height: 760px
}

.maxh-780 {
    max-height: 780px
}

.maxh-800 {
    max-height: 800px
}

.maxh-820 {
    max-height: 820px
}

.maxh-840 {
    max-height: 840px
}

.maxh-860 {
    max-height: 860px
}

.maxh-880 {
    max-height: 880px
}

.maxh-900 {
    max-height: 900px
}

.maxh-920 {
    max-height: 920px
}

.maxh-940 {
    max-height: 940px
}

.maxh-960 {
    max-height: 960px
}

.maxh-980 {
    max-height: 980px
}

.maxh-1000 {
    max-height: 1000px
}

.maxh-1020 {
    max-height: 1020px
}

.maxh-1040 {
    max-height: 1040px
}

.maxh-1060 {
    max-height: 1060px
}

.maxh-1080 {
    max-height: 1080px
}

.maxh-1100 {
    max-height: 1100px
}

.maxh-1120 {
    max-height: 1120px
}

.maxh-1140 {
    max-height: 1140px
}

.maxh-1160 {
    max-height: 1160px
}

.maxh-1180 {
    max-height: 1180px
}

.maxh-1200 {
    max-height: 1200px
}

.minh-237{
    min-height: 237px;
}

.btn {
    font-family: 'aileronthin',arial !important;
    letter-spacing: .6px;
    font-size: 12px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 0;
}

.btn-primary:hover {
    color: #fff;
    border: none;
}

.btn-primary {
    color: #fff;
    background-color: #47b4a7;
    border-color: #0b675c;
}
.a-hover:hover{
    text-decoration: underline;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0b675c;
    border-color: #0b675c;
}
.flex-center{
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */  
display: -moz-box; /* Firefox 17- */  
display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
display: -moz-flex; /* Firefox 18+ */  
display: -ms-flexbox; /* IE 10 */  
display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */  
 -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
     -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex-direction_column{
     -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.btn-block {
    display: block;
    width: 100%;
}

textarea {
    border: 1px solid #e9e9e9;
    width: 100%;
    padding: 6px;
    /*text-align: left;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
}
.none-border{
    border:none !important;
}
