/*浏览器滚动条*/
/*-Webkit内核滚动条通用样式定义默认蓝色需调整-*/
.lt-aside-nav::-webkit-scrollbar-track-piece{
    background-color:#f5f5f5;/*滚动条的背景颜色*/
    -webkit-border-radius:0px;/*滚动条的圆角宽度*/
}
.lt-aside-nav::-webkit-scrollbar{
    width:5px !important;/*滚动条的宽度*/
    height:10px;/*滚动条的高度*/
    padding-right:0;
    margin-right:0;

}
.lt-aside-nav::-webkit-scrollbar-thumb:vertical{/*垂直滚动条的样式*/
    height:10px;
    background-color:#ccc;
    -webkit-border-radius:6px;
    outline:2px solid #fff;
    outline-offset:-2px;

}
.lt-aside-nav::-webkit-scrollbar-thumb:hover{/*滚动条的hover样式*/
    height:10px;
    background-color:#ccc;
    -webkit-border-radius:6px;
}
.lt-aside-nav::-webkit-scrollbar-thumb:horizontal{/*水平滚动条的样式*/
    width:5px !important;
    background-color:#ccc;
    -webkit-border-radius:6px;
    outline:2px solid #fff;
    outline-offset:-2px;
}
.csm-none{
    display: none !important;
}
/*登录页面*/
.login-main{
    width: 100%;
    height:100vh;
    background:url(../images/login-bg.jpg); 
    background-size: 100% 100%;
    position: relative;
}
.login-container{
    position: absolute;
    width: 400px;
    height: 400px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px #ccc;
    border-top:10px solid #0079fe;
    background-color: #fff;
}

.login-container .login-title{
   text-align: center; 
}
.login-container .login-title img{
  margin:5px auto;
  vertical-align: middle;
  
}
.login-container .login-title .login-title-txt{
    font-size: 28px;
    color: #0079fe;
    font-weight: bold;
}
.login-container .input-area-wrap {
    padding: 24px;
    width: 353px;
}
.login-container .input-area-wrap input {
    width: 100%;
    padding-left: 35px;
    height: 49px;
    box-shadow: 0 0 2px #fff;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    font-size: 1.4rem;
    border-radius: 5px;
}
 .login-container .input-area-wrap input.user-input {
    background: rgba(255, 255, 255, 1) url(../images/user.png) no-repeat 10px center;
}
 .login-container .input-area-wrap input.pwd-input{
    margin-top: 24px;
    background: rgba(255, 255, 255, 1) url(../images/lock.png) no-repeat 10px center;
}
.error-txt {
    color: #f16c6f;
    font-size: 14px;
}
 .login-container .input-area-wrap .login-btn {
    width: 326px;
    height: 34px;
    line-height: 34px;
    margin: 10px auto 0;
    display: block;
    color: #fff;
    border: 1px solid #0079fe;
    background: #0079fe;
     font-size: 14px;
     font-weight: 400;
      cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
     padding: 6px 12px;
     text-align: center;
    background: -o-linear-gradient(top, #0079fe, #ee5b5a);
}
.login-footer{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}
.switch_title_fixed {
  animation: searchTop .5s ease-in-out;
  position: fixed;
    width: calc(100vw - 230px);
  z-index: 100;
  bottom: 0;
  box-shadow: 0px 2px 1px rgba(0,0,0,.2);
}
.footer{
  position: relative;
   z-index: 0;
  text-align: center;
  padding-top:50px;
  margin:0 auto;
  width: 100%;
/*  height: 120px;
*/  background-color: #f5f5f5;
}
.abs-t{
  position: absolute;
  bottom:0px;
  top:none;
}
.login-footer p,.footer p{
    height: 26px;
    color:#ccc;
    font-size: 14px;
}
.bgwrap{
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
   /* overflow: hidden;
    position: relative;*/
}
header {
  background:url(../images/bg.png);
  width: 100%;
  min-width: 1200px;
  height: 85px;
  line-height: 85px;
  position: fixed;
/*  background: #0079fe;*/
  z-index: 1; }
  header h1 {
    height: 100%;
    float: left;
    padding-left: 10px; }
    header h1 img{
      height: 47px;
     margin-top:19px;
     vertical-align: top;
  }
 
    header h1 .logo-text {
      font-size:24px;
      font-weight: bold;
      color: #fff;
      padding-left: 10px;
      display:inline-block;
      padding-top:27px;
    }

    header .lt-nav {
    float: left;
    padding-right: 16px;
    }
    
    header .lt-nav a{
    padding: 4px 28px;
    color: #fff;
   
    }
  header .rt-nav {
    float: right;
   /* padding-right: 16px;*/ }
    header .rt-nav .wel-t {
      position: relative;
      cursor: pointer;
      display: inline-block;
      padding: 0 26px;
      /*height: 20px;
      line-height: 20px;*/
      color: #fff;
      }
     header .rt-nav .wel-t .wel-pop{
      position: absolute;
      width: 100%;
      height: 50px;
      background-color: blue;
     }
    header .rt-nav .a-setting,
     header .rt-nav .a-message,
     header .rt-nav .a-close{
      vertical-align: middle;
      padding: 0 26px;
      color:#fff; }
     header .rt-nav .a-setting:hover,
     header .rt-nav .a-message:hover,
     header .rt-nav .a-close:hover,
     header .rt-nav .wel-t:hover{
       background: rgba(255, 255, 255, 0.1);
       color: #0079fe;
      }
    header .rt-nav a.btn {
      padding: 4px 38px;
      color: #fff;
      background: #6383b2; }
.message-text{
  color: #fff;
  display: inline-block;
  top:20px;
  position: absolute;
  width: 25px;
height: 25px;
line-height: 25px;
text-align: center;
border-radius: 50%;
background-color: #ff5918;
}
/*按钮*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    /*vertical-align: middle;*/
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}
.lt-aside-nav{
background:#fff;
  float: left;
    width: 182px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    height: 100vh;
    padding-bottom: 100px;
    margin-top: 85px;
    overflow-y: scroll;
    z-index: 1;
}
.lt-aside-nav .nav-1{
    cursor: pointer;
    width: 182px;
    font-size: 14px;
    
}
.lt-aside-nav .nav-1 li span{
  display: inline-block;
  width: 100%;
    height: 40px;
    line-height: 40px;
    /*text-align: center;*/
    padding-left: 10px;
    background-color:#f9f9f9; 
    border-bottom: 1px solid #e9e9e9;
    color:#999999;  
}
.lt-aside-nav .nav-1 li .nav-1-item li{
    width: 100%;
    height: 40px;
    line-height: 40px;
   /* text-align: ;*/
   padding-left: 36px;
    border-bottom: 1px solid #e9e9e9;
    color: #000;
}
.lt-aside-nav .nav-1 li span:hover,
.lt-aside-nav .nav-1 li .nav-1-item li:hover{
   color: #0079fe;
}
.lt-aside-nav .nav-1 li .nav-1-item .select-on{
  font-weight: bold;
 /* background-color: #b4e3f9;*/
  color:#0079fe;
}
.up-down-img,.icon-img{
  height: 14px;
  vertical-align:top;
  margin-top: 13px;
}
.icon-img{
  padding-right: 5px;
}
.up-down-img{
  position: absolute;
  right: 10px;
}
.arrow-up {
  display: inline-block;
    width:0; 
    height:0; 
    border-left:2px solid transparent;
    border-right:2px solid transparent;
    border-bottom:2px solid #fff;
}
.arrow-down {
    position: relative;
    top: -3px;
   display: inline-block;
   vertical-align: middle;
    width:6px; 
    height:6px; 
    border-left:3px solid #fff;
   /* border-right:2px solid transparent;*/
    border-bottom:3px solid #fff;
    transform: rotate(-45deg);
    border-radius:2px;
}
.hover-arrow-down {
    position: relative;
    top: -3px;
   display: inline-block;
   vertical-align: middle;
    width:6px; 
    height:6px; 
    left: 2px;
    border-left:3px solid #0079fe;
   /* border-right:2px solid transparent;*/
    border-bottom:3px solid #0079fe;
    transform: rotate(-45deg);
    border-radius:2px;
}
.content-wrap{
  width: 100%; 
    overflow: auto;
}
.content-wrap .rt-sec-wrap {
   min-width: 1018px;
    margin-left: 182px;
    min-height: calc(100vh - 90px);
}
.rt-container { 
   /* float: right;*/
 min-width: 1018px;
/* min-height: calc(100vh - 135px);*/
position: absolute; 
    top: 85px;
     left: 182px;
      bottom: 0px; 
      right: 0px;
    overflow-x:auto; 
    background:#f5f5f5;
     border-left: 2px solid #e9e9e9;
}
.manage-head{padding:15px 0; background:#fff;}
.manage-head-con{
  margin-left:20px;
  position:relative;
  height:18px;line-height:18px;color:#363636;
    border-left:5px solid #0079fe;font-size:16px;}
.return-btn{
    border: 1px solid #e4e4e4;
    background: #fff;
    padding: 0 15px;
    margin-top: -25px;
    line-height: 30px;
    border-radius: 3px;
    display: block;
    font-size: 10px;
    color: #565656;
    font-weight: normal;

}
.return-btn:hover{
  background: #f2f2f2;
}

.rt-content{
    z-index: 10001;
    background:#f5f5f5;
    padding: 20px 20px;
    border-top:1px solid #d9dfe4;
    
}
.rt-content .rt-content-item{
    border:1px solid #e9e9e9;
    background:#fff;
    font-size: 14px;
}
.rt-content .rt-content-item .rt-content-item-title{
    min-height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: #666666;
    border-bottom: 1px solid #e9e9e9;
    padding-left: 20px;
}
.rt-content .rt-content-item .rt-content-item-title2{
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: #666666;
    padding-left: 20px;
    padding-right: 20px;
}
.rt-content .rt-content-item .rt-item-detail{
    width:100%;
    display: table-cell;
    vertical-align: middle;
    min-height: 80px;
   padding-top:10px;
   padding-bottom:10px;
}

.rt-content .rt-content-item .rt-item-detail2 .input-row{
    float: left;
    height: 35px;
    line-height: 35px;
}
.rt-content .rt-content-item .rt-item-detail2 .input-row{
    margin-bottom: 20px;  
}
.rt-content .rt-content-item .rt-item-detail2 .input-row input,
.rt-content .rt-content-item .rt-item-detail2 .input-row select option{
    padding:0 0 5px;
    border:1px solid #e9e9e9;
    height: 35px;
  
}
.rt-content .rt-content-item .rt-item-detail:after{
    clear: both;
}
.rt-content .rt-content-item .rt-item-detail .input-row{
  margin-top:10px;
  margin-bottom:10px;
    float: left;
    height: 35px;
    line-height: 35px;
}
.rt-content .rt-content-item .input-row2{
      min-height: 35px;
    line-height: 35px;
}
.rt-content .rt-content-item .input-row2:after{
  display:block;
  clear:both;
  content:"";
  visibility:hidden;
  height:0;
}
.rt-content .rt-content-item .input-row2 .input-row-title{
   text-align: right;
}
.rt-content .rt-content-item  .input-row2 input,
.rt-content .rt-content-item .input-row2 select{
    width: 100%;
}
.rt-content .rt-content-item  .input-row2 input,
.rt-content .rt-content-item .input-row2 select,
.rt-content .rt-content-item .rt-item-detail .input-row input,
.rt-content .rt-content-item .rt-item-detail .input-row select{
  border-radius: 4px;
     padding:0 0 0 5px;
    height: 35px;
   border:1px solid #e9e9e9;
}
.search-btn{
  border-radius: 4px;
    padding:0px 20px;
    background: rgba(0, 121, 254, 1) url(../images/search.png) no-repeat 20px center;
    cursor: pointer;
}
.search-btn a{
   font-size: 14px;
   padding-left: 18px;
   color: #fff; 
}
.add-btn{
     line-height: 2;
     padding: 0 14px;
    border-radius: 2px;
     background: rgba(255, 255, 255, 1) url(../images/add.png) no-repeat 14px center;
    cursor: pointer;
    border:1px solid #0079fe;
     color: #0079fe; 
}
.export-btn{
   line-height: 2;
     padding: 0 14px;
    border-radius: 2px;
  
    cursor: pointer;
    border:1px solid #0079fe;
     color: #0079fe; 
}
.add-btn .add-txt{
    font-size: 14px;
    padding-left: 15px;
}
.fright .add-btn:last-child,.printed-box{
  margin-right: 0 !important;
}
.clear:after{
    display: block;
    clear: both;
    content: "";
}
.rt-title-txt{
  font-size: 14px;
    display: inline-block;
}
.table-box,.column-table,.table-policies{
    color:#4e4e4e;
  position: relative;
  overflow: auto;
  /*  padding-left:20px;
    padding-right:20px;*/
    margin-left:20px;
    margin-right:20px;
 /*   background-color: blue;*/
}

.table-box table tr td,.column-table table tr td{
  position: relative;
      word-wrap: break-word;
    border:1px solid #e4e4e4;
     padding:5px;
     margin-right: 20px;
}
.table-box table thead tr td{
  font-size: 14px;
  font-weight: bold;
    height: 40px;
    vertical-align: middle;
}
.table-box table tbody,.small-table table tbody,.column-table table tbody{
    font-size: 12px;
}
.table-box table tbody tr td{
    height: 30px;
    vertical-align: middle;
}
table td a{
  cursor: pointer;
}
.table-tb table tbody tr:nth-child(even){
    background-color: #f9f9f9;
}
.column-table table tbody tr td{
    height: 30px;
    vertical-align: middle;
}
.column-table table tbody tr td:nth-child(odd){
 background-color: #f9f9f9;
 text-align: right;
 padding-right: 20px;
}
.column-table2 table tbody tr td:nth-child(even){
 background-color: #f9f9f9;
 text-align: right;
 padding-right: 20px;
}
.small-table tr td{
    text-align: center !important;
}
.small-table tbody tr td{

   background-color: #fff !important;
}
.error{
    color: red;
    font-size: 14px;
}
.input-row-input .input-checkbox{
    float: left;
}
.input-row-input .input-checkbox label{
    cursor: pointer;
   display: inline-block;
}
.input-row-input .input-checkbox input[type=checkbox]{
    float: left;
    width: 18px;
    height: 18px;
    margin-top: 6px;
    /* appearance: none;
    -webkit-appearance: none;*/
    background-color: #fff;
    border:1px solid #e9e9e9;
}
.delete-btn,.add-block-btn{
    width: 30px;
    background-color: #0079fe;
    height: 30px;
    cursor: pointer;
    position: relative;
}
.delete-btn a{
    position: absolute;
    top:14px;
    height: 2px;
    width: 22px;
    background-color: #fff;
    left: 4px;
}
.add-block-btn .add-vertical-line{
 position: absolute;
    top:14px;
    height: 2px;
    width: 22px;
    background-color: #fff;
    left: 4px;
}
.add-block-btn .add-cross-line{
   position: absolute;
    top:4px;
    height: 22px;
    width: 2px;
    background-color: #fff;
    left: 14px; 
}
.input-line{
   margin:0 10px 0 20px;
   color: #ccc;
}
.save-btn{
    padding:0px 20px;
    border-radius: 5px;
    background-color: #0079fe;
    color: #fff;
    cursor: pointer;
}
.cross{
     background:url(../images/delete.png) no-repeat 0px center;  
     padding:5px 12px;
    color:#0079fe;
}
.copy{
     background:url(../images/copy.png) no-repeat 0px center;  
     padding: 5px 14px;
    color:#0079fe;
}
.delete{
     background:url(../images/delete2.png) no-repeat 0px center;  
     padding:5px 12px;
    color:#0079fe;
}
.looked{
     background:url(../images/lookImg.png) no-repeat 0px center;  
  padding: 5px 12px;
    color:#0079fe;
}
.printed{
     background:url(../images/print.png) no-repeat 0px center;  
     padding: 5px 12px 5px 16px;
     color:#0079fe;
}
.create-tip{
     background:url(../images/create-tip.png) no-repeat 0px center;  
     padding: 5px 12px 5px 16px;
   
}

.printed-box{
  cursor: pointer;
  font-size: 14px;
  line-height:2.6;
}
.audit-status{
     background:url(../images/auditStatus.png) no-repeat 0px center;  
  padding:5px 12px;
    color:#0079fe; 
}
.edit{
     color:#0079fe;
  background:url(../images/edit.png) no-repeat 0px center;  
  padding:5px 12px;
}
.accessory{
   color:#0079fe; 
  padding:5px 12px 5px 2px;
}
.cross-style{
    font-weight: bold;
    padding-right: 2px;
}
.v-minddle{
  vertical-align: middle;
}

.next-btn,.pop-add-btn{
   width: 120px;
   height: 40px;
   line-height: 40px;
   text-align: center;
   border-radius: 5px;
   color: #fff;
    background-color: #0079fe;
}
.next-btn,.pop-add-btn2{
   width: 120px;
   height: 40px;
   line-height: 40px;
   text-align: center;
   border-radius: 5px;
   color: #fff;
    background-color: #0079fe;
}
.return-list-btn{
    display: inline-block;
   padding:10px 30px;
   text-align: center;
   border-radius: 5px;
   color: #fff;
    background-color: #0079fe;
     border:1px solid #0079fe;
}
.modify-btn{
     display: inline-block;
   padding:10px 30px;
   text-align: center;
   border-radius: 5px;
   color:#0079fe;
    background-color: #fff;
    border:1px solid #0079fe;
}
.div-btn{
  font-size: 14px;
    display: inline-block;
  /* width: 100px;*/
  padding:8px 10px;
  border-radius: 2px;
  /* height: 40px;*/
   text-align: center;
    background-color: #fff;
    border:1px solid #d2d2d2;
   /* line-height: 40px;*/
}
.div-btn2{
  font-size: 14px;
    display: inline-block;
     border-radius: 2px;
   padding:5px 10px;
   text-align: center;
    background-color: #fff;
    border:1px solid #d2d2d2;
    line-height: 1.6;javascript:;
}
.hover-div-btn{
    font-size: 14px;
    display: inline-block;
   width: 100px;
  /* height: 40px;*/
  padding:8px 0;
   text-align: center;
   color: #fff;
    background-color: #0079fe;
    border:1px solid #d2d2d2;
   /* line-height: 40px;*/
}
.return-btn2,.pop-return-btn{
    width: 120px;
   height: 40px;
   line-height: 40px;
   text-align: center;
   border-radius: 5px;
   color:#0079fe;
    background-color: #fff;
    border:1px solid #0079fe;
}
.return-btn2,.pop-return-btn2{
    width:120px;
   height: 40px;
   line-height: 40px;
   text-align: center;
   border-radius: 5px;
   color:#0079fe;
    background-color: #fff;
    border:1px solid #0079fe;
}
.table-colspan tbody tr:last-child{
   background-color: #f9f9f9;
}
.rt-content-item-tip{
  font-weight: normal;

}
.total-cost{
  height: 100%;
  font-weight: bold;
  vertical-align: middle;
}

/*弹出框开始*/
.pop-up-box{
    width: 100%;
    height: 100%;
   position: fixed;
   z-index:5;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
 background: rgba(0, 0, 0, 0.65);


}

.pop-up{
    position: absolute;
  /*  z-index: 99999;*/
 background-color: #fff;
  /*width: 600px;*/
  border-radius: 2px;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);   /* IE 9 */
-moz-transform:translate(-50%,-50%);  /* Firefox */
-webkit-transform:translate(-50%,-50%);/* Safari 和 Chrome */
-o-transform:translate(-50%,-50%); /* Opera */
/* max-height: 600px;*/
 overflow-y: auto;
 overflow-x: hidden;
}
.pop-up .pop-up-row{
    min-height: 40px;
    line-height: 40px;
}

.pop-up .pop-up-row i{
  vertical-align: middle;
}
.pop-tip{
    background: rgba(235, 245, 255, 1);
    border-radius: 5px;
    padding:10px 20px;
    line-height: 2;
}

.pop-tip-title{
  height: 60px;
  line-height: 60px;
}
.input-row-input input,.input-row-input select{
     width: 100%;
    padding-left: 15px;
    height: 35px;
    box-shadow: 0 0 2px #fff;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    font-size: 1.4rem;
    border-radius: 2px;
}
/*弹出框结束*/
/*提交成功*/
.submit-success{
    height: 500px;
    background-color: #fff;
}

.column-table{

}

.toggle-button-wrapper{
  display:inline-block;
  vertical-align: middle;
}
.toggle-button{ display: none; }
.button-label{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #ccc;
    box-shadow: #ccc 0px 0px 0px 2px;
    border-radius: 30px;
    overflow: hidden;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}

.on { color: #fff; display: none; margin-left: 10px;margin-top: -10px;}

.off { color: #fff; display: inline-block;margin-left: 54px;margin-top: -20px; width: 20px;height:5px; background:#fff;line-height: 0;font-size:0;vertical-align: middle;-webkit-transform: rotate(45deg);}
  .off:after{
    content:'';display:block;width: 20px;height:5px; background: #fff;-webkit-transform: rotate(-90deg);
}
.button-label .circle{
    left: 0;
    transition: all 0.3s;
}
.toggle-button:checked + label.button-label .circle{
    left: 50px;
}
.toggle-button:checked + label.button-label .on{ 
     display: inline-block; width: 10px;height:5px; background: #fff;line-height: 0;font-size:0;vertical-align: middle;-webkit-transform: rotate(45deg);
}
 .toggle-button:checked + label.button-label .on:after{
    content:'/';display:block;width: 20px;height:5px; background:#fff;-webkit-transform: rotate(-90deg) translateY(-50%) translateX(50%);
 }
.toggle-button:checked + label.button-label .off{ 
    display:none;
}

.toggle-button:checked + label.button-label{
    background-color: #0079fe;
}


/*带判断的小开关*/
.toggle-button-wrapper1{
  margin-top: 10px;
  display:inline-block;
  vertical-align: middle;
}
.toggle-button-wrapper1 .toggle-button{ display: none; }
 .toggle-button-wrapper1 .button-label{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #ccc;
    box-shadow: #ccc 0px 0px 0px 2px;
    border-radius: 30px;
    overflow: hidden;
}

.toggle-button-wrapper1 .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}

.toggle-button-wrapper1  .on { color: #fff; display: none; margin-left: 10px;margin-top: 5px;}

.toggle-button-wrapper1 .off { color: #fff; display: inline-block;margin-left: 54px;margin-top: 0px; width: 20px;height:5px; background:#fff;line-height: 0;font-size:0;vertical-align: middle;-webkit-transform: rotate(45deg);}
.toggle-button-wrapper1  .off:after{
    content:'';display:block;width: 20px;height:5px; background: #fff;-webkit-transform: rotate(-90deg);
}
.toggle-button-wrapper1 .button-label .circle{
    left: 0;
    transition: all 0.3s;
}
.toggle-button-wrapper1  .toggle-button:checked + label.button-label .circle{
    left: 50px;
}
.toggle-button-wrapper1  .toggle-button:checked + label.button-label .on{ 
     display: inline-block; width: 10px;height:5px; background: #fff;line-height: 0;font-size:0;vertical-align: middle;-webkit-transform: rotate(45deg);
}
.toggle-button-wrapper1  .toggle-button:checked + label.button-label .on:after{
    content:'/';display:block;width: 20px;height:5px; background:#fff;-webkit-transform: rotate(-90deg) translateY(-50%) translateX(50%);
 }
.toggle-button-wrapper1  .toggle-button:checked + label.button-label .off{ 
    display:none;
}

.toggle-button-wrapper1  .toggle-button:checked + label.button-label{
    background-color: #0079fe;
}
/*小开关*/
 .toggle-button-wrapper1 .button-label1{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    box-shadow: #ccc 0px 0px 0px 2px;
    border-radius: 30px;
    overflow: hidden;
}
.toggle-button-wrapper1   .circle1{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}
 .toggle-button-wrapper1 .button-label1 .circle1{
    left: 0;
    transition: all 0.3s;
}
 .toggle-button-wrapper1 .button-label .text {     
    font-size: 18px;
    text-shadow: 0 0 2px #ddd;
}
 .toggle-button-wrapper1 .toggle-button:checked + label.button-label1 .circle1{
    left: 20px;
}
 .toggle-button-wrapper1 .toggle-button:checked + label.button-label1{
    background-color: #0079fe;
}

.toggle-button-wrapper1  .on1 { 
   position: absolute;
  top: 12px;
  left: 2px;
  color: #fff; 
  display: none; 
 }     
.toggle-button-wrapper1 .off1 {
  position: absolute;
 color: #fff;
  display: inline-block;
 left: 22px;
 top:8px;
 width: 15px;
 height:3px; 
 background:#fff;
 line-height: 0;
 font-size:0;
 vertical-align: middle;
 -webkit-transform: rotate(45deg);
}
 .toggle-button-wrapper1 .off1:after{
    content:'';display:block;
    width: 15px;height:3px;
     background: #fff;
     -webkit-transform: rotate(-90deg);
}
.toggle-button-wrapper1 .toggle-button:checked + label.button-label1 .on1{ 
     display: inline-block;
      width: 7px;
      height:3px; 
      background: #fff;
      line-height: 0;
      font-size:0;
      -webkit-transform: rotate(45deg);
}
.toggle-button-wrapper1 .toggle-button:checked + label.button-label1 .on1:after{
    content:'/';
    display:block;
    width: 15px;
    height:3px; 
    background:#fff;
    -webkit-transform: rotate(-90deg) translateY(-50%) translateX(50%);
 }
.toggle-button-wrapper1 .toggle-button:checked + label.button-label1 .off1{ 
    display:none;
}
/*checkbox开关*/
.switch-btn {
    position: relative;
    display:inline-block;
    vertical-align: middle;
    width: 50px;
    height: 25px;
}
.switch-btn input[type='checkbox'] {
  position: absolute;
    top:-3px;
    left:-3px;
    width: 50px !important;
    height: 25px !important;
    opacity: 0;
    z-index: 9;
    outline: none;
}
.switch-btn > label{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:inline-block;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid #e9e9e9;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
.switch-btn > label:before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 40px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    line-height: 25px;
    text-indent: -1px;
}
.switch-btn > label:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    left: 0;
    top: 1px;
    border-radius: 1px;
    box-shadow:2px 0px 1px #e9e9e9;
    border-radius: 15px;
    background-color: #fff;
    transition: left 0.3s ease;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
}
.switch-btn input[type='checkbox']:checked + label{
    border: 1px solid #e9e9e9;
    background-color: #0079fe;
}
.switch-btn input[type='checkbox']:checked + label::before {
    display: inline-block;
    color: #fff;
    text-indent: -25px;
}
.switch-btn input[type='checkbox']:checked + label::after {
    left: 26px;
    top: 1px;
    width: 24px;
    height: 24px;
    border: 0;
    box-shadow: none;
    box-sizing: content-box;
}

.warn{
     background:url(../images/warn.png) no-repeat 0px center; 
     padding-left: 18px; 
}
.rt-content-header{
    font-size: 14px;
    height: 80px;
   background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
   line-height: 80px;

}
.input-file-box input[type=file] {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.return-btn2 input[type=reset] {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.input-file-box{
    position: relative;
    width: 100px;
    height: 100px;
    background:url(../images/up-img.png); 
    background-size: 100% 100%;
    cursor: pointer;
}

.photo-box{
   text-align: center !important;  
}
.photo-box span{
    display:inline-block;
    margin:5px 0;
   
}
.customer-level{
    width: 80px;
    height: 20px;
    line-height: 20px;
    border-radius:10px;
    background-color:#ffa94c;
    color:#fff;
}
.submit-cross{
  position: relative;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
   cursor: pointer; 
    border:1px solid #fff;
}
.submit-cross-l{
position: absolute;
top:0;
 color: #ccc; display: inline-block; width: 20px;height:5px; background:#CCC;line-height: 0;font-size:0;vertical-align: middle;-webkit-transform: rotate(45deg);}

.submit-cross-r{
  position: absolute;
  top:0;
   color: #ccc; display: inline-block; width: 20px;height:5px; background:#CCC;line-height: 0;font-size:0;vertical-align: middle;-webkit-transform: rotate(-90deg);
        }

.line{
  height: 1px;
  background-color: #ccc;
}

/*省级会议*/

.rt-content .nav-content{
 /* min-width: 1000px;*/
  position: relative;
}
.rt-content .nav-content .fright-div{
  position: absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%);
}
.rt-content .nav-content ul{
  margin:0 auto;
   border: 1px solid #e9e9e9;
  display: flex;
  text-align: center;
  width: 900px;
}

.rt-content .nav-content ul li{
  font-size: 14px;
  position: relative;
  width: 25%;
  height: 46px; 
  line-height: 46px;
  background-color: #fff;

}
.rt-content .nav-content ul li .nav-content-Item{  
  background-color: #fff; 
}

.rt-content .nav-content ul li .arrow-right-after{
  position: absolute;
  top:6px;
  right:8px;
  width: 32px;
  height: 32px;
  border-top: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  transform: rotate(45deg);
}
.input-row-input table tr,
.input-row-input table tr td{
  height: 30px;
  vertical-align: middle;
  border:1px solid #e4e4e4;
  text-align: center;
  padding:5px;
}
.input-row-input table tr td i{
  display: table;
  vertical-align: middle;
 margin-left: auto;
  margin-right: auto;
}
.table-box table tr td i{
  display: table;
  vertical-align: middle;
 margin-left: auto;
  margin-right: auto;
}
.active-true,.active-false{
  width: 80px;
  height: 38px;
  border:1px solid #e4e4e4;
  text-align: center;
  cursor: pointer;
}
.active-true:hover,.active-false:hover{
  border:1px solid #0079fe;
}

.column-table table tbody tr .province-table table thead tr,
.column-table table tbody tr .province-table table thead tr td{
    border-left:1px solid #e4e4e4;
    border-right: none;
    border-top: none;
  height: 30px;
  text-align: center;
 background-color: #fff;
 padding:5px;
}
.column-table table tbody tr .province-table table tbody tr,
.column-table table tbody tr .province-table table tbody tr td{
    border-left:1px solid #e4e4e4;
    border-right: none;
    border-top: none;
     border-bottom: none;
  height: 30px;
  text-align: center;
 background-color: #fff;
 padding:5px;
}
.column-table table tbody tr .province-table table tbody tr td .selected,
.table-box table tbody tr td .selected{display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #666666;
}
.add-btn-two{
  border:1px solid #999999;
  width: 100px;
  height: 35px;
  box-sizing: border-box;
  line-height: 35px;
  color:#999999;
  text-align:center;
  border-radius: 2px;
}
.add-btn-two:hover{
  border:1px solid #0079fe;
  color:#0079fe;
}
.input-file-box{
  position: relative;
   background:url(../images/file-up.png) no-repeat 17px center;  
      font-size: 14px;
    display: inline-block;
    padding-left: 5px;
   width: 120px;
   height: 40px;
   text-align: center;
    background-color: #fff;
    border:1px solid #d2d2d2;
    line-height: 40px;
    border-radius: 5px;

}
.pop-up-box .input-file-box input[type=file] {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
}
.false-true{
  padding:0;
  margin:0;
  vertical-align: middle;
  line-height: 1;
  display: inline-block;
  width: 30px;
}
.delete-file-box{
  position: relative;
}
.delete-file{
  display: inline-block;
  cursor: pointer;
}

.delete-file-left{
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 10px;
  height:2px; 
  background: #ccc;
  transform: rotate(45deg);
}
.delete-file-left:after{
  position: absolute;
  content:'';
  display:inline-block;
  width: 10px;
  height:2px; 
  background:#ccc;
  transform: rotate(-90deg);
}
.file-title{
  display: inline-block;
  overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
  height: 40px;
}
.learn-box,.company-box{
  border:1px solid #e9e9e9;
  text-align: center;
  cursor: pointer;
}
.border-top-none{
  border-top:1px solid #fff !important;
}

  
.menu-l .menu-l-one{
  position: relative;
  cursor: pointer;
}
.menu-l .menu-l-two,.menu-l .menu-l-four{
  cursor: pointer;
  width: 105px;
  font-size: 14px;
  position: absolute;
  background-color: #fff;
  box-shadow:0px 0px 5px 2px #ccc ;
  left:138px;
  z-index: 1;
}
.menu-l .menu-l-two ul,.menu-l .menu-l-three ul,.menu-l .menu-l-four ul{
  padding:8px 0;
}
.menu-l .menu-l-two ul li a,.menu-l .menu-l-three ul li a,.menu-l .menu-l-four ul li a{
  color:#000;  
}
.menu-l .menu-l-two ul li,.menu-l .menu-l-three ul li,.menu-l .menu-l-four ul li{
 
  padding:8px 10px;
}
.menu-l .menu-l-two ul li:hover,.menu-l .menu-l-three ul li:hover,.menu-l .menu-l-four ul li:hover{
  background-color: #e4e4e4;
}
.menu-l .menu-l-three{

  cursor: pointer;
  width: 105px;
 font-size: 14px;
  position: absolute;
  background-color: #fff;
  box-shadow:0px 0px 5px 2px #ccc ;
  left:254px;
}
.nest-box{
  position: relative;
}
.nest-title{
  width: 80px;
   float: left;
}
.nest-table{
  float: left;
  /*left:100px;
  top:0;
  position: absolute;*/
  z-index: 1;
  overflow-x:scroll !important;
}
.nest-table table{
  overflow:scroll !important;
}
.ofhd{
overflow-x: hidden !important;
}
.checkbox-box input[type=checkbox],.checkbox-box-two input[type=checkbox]{
  width: 20px !important;
  height: 20px !important;
  display: inline-block;
  vertical-align: middle;
}
.checkbox-box input[type=radio]{
  width: 16px !important;
  height: 16px !important;
  display: inline-block;
}
.checkbox-box span{
  display: inline-block;
}
.table-box td input[type=text],.table-box td select{
     width: 100%;
    padding-left: 2px;
    height: 30px;
    box-shadow: 0 0 2px #fff;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    font-size: 1.4rem;
    border-radius: 2px;
}
.line-1{
  line-height: 1.4;
}
.border-b-shallow-gray {
    border-bottom: 1px solid #e9e9e9;
}
.selected-all{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
   -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.selected-all span{
  margin-top: 10px;
}

.selected-all span:nth-child(odd){
display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
-webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.add-box{
  margin-bottom: 20px;
}
.add-box .add-titles{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
text-align: center;
border-bottom:1px solid #e9e9e9;
padding:10px 0;
}
.add-box .add-item{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
text-align: center;
-webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
border-bottom:1px solid #e9e9e9;
padding:10px 0;
}
.add-box .add-item input,.add-box .add-item select{
  border:1px solid #e9e9e9;
  width: 80%;
  height: 30px;
  padding-left: 5px;
}
.add-box .add-titles li:nth-child(1),
.add-box .add-titles li:nth-child(2),
.add-box .add-titles li:nth-child(3),
.add-box .add-item li:nth-child(1),
.add-box .add-item li:nth-child(2),
.add-box .add-item li:nth-child(3){
  width:13%; 
}

.add-box .add-titles li:nth-child(4),
.add-box .add-titles li:nth-child(5),
.add-box .add-titles li:nth-child(6),
.add-box .add-titles li:nth-child(7),
.add-box .add-item li:nth-child(4),
.add-box .add-item li:nth-child(5),
.add-box .add-item li:nth-child(6),
.add-box .add-item li:nth-child(7){
  width: 8.5%;
}
.add-box .add-titles li:nth-child(8),
.add-box .add-item li:nth-child(8){
  width: 18%;
}
.add-box .add-titles li:nth-child(1),
.add-box .add-item li:nth-child(1){
width: 13%;
}

/*错误页面*/
.error-box{
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
 -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.error-box .error i{
color: #FE9400;
}
.error{
 display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
 -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.error-box .error-msg{
font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #666666;
    text-align: center;
    line-height: 24px;
    margin-top: 20px;
}
.error-box .error-tip{
  margin-top: 15px;
  font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #999999;
    text-align: center;
    line-height: 22px;
}
.error-box .return-btn{
  margin-top: 60px;
  border-width: 0px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background: inherit;
    background-color: rgba(0, 121, 254, 1);
    border: none;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
}
.error-box .return-btn:hover{
    background-color: rgba(0, 121, 254, 0.65);
}
.darkred-color{
  color:#D9001B;
}
.lh24 {
    line-height: 24px;
}

/*审核会议样式调整*/
@media only screen and (min-width: 1280px)and (max-width: 1440px){
.rt-content .nav-content ul{
  width: 800px !important;
}
 .search-btn{padding:0px 15px!important;};
}
@media only screen and (min-width: 1024px)and (max-width: 1280px){
  .rt-content{
    padding:20px 10px;
  }
.rt-content .nav-content ul{
  width: 760px !important;
}
 .search-btn{padding:0px 15px!important;};
}
/*审核会议样式调整结束*/
.dropbtn {
    background-color: #fff;
    color: white;
    padding:8px 0;
    border:1px solid #0079fe;
    cursor: pointer;
    color:#0079fe;
   width: 110px;
   line-height: 1;
   text-align: center;
}
.noDropbtn{
  background-color: #fff;
    color: white;
    padding:8px 0;
    border:1px solid #0079fe;
    cursor: pointer;
    color:#0079fe;
   width: 90px;
   line-height: 1;
   text-align: center;
}
.dropbtn:hover,.noDropbtn:hover,.chageColor{
    background-color: #0079fe;
    color:#fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:42px;
    padding:10px 0;
    background-color: #f9f9f9;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}


.dropdown-content a {
  line-height: 1;
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.show {display:block;}
.checkbox-box-two span{
  display: inline-block;
  float: left;
  width: 25%;
}
.table-tip{
  position: relative;
  float: right;
  right: 10px;
}
.table-tip:hover+.tip-box{
  display: inline-block;
  z-index: 2;
}
.tip-box{
  display: none;
  position: absolute;
    right: -186px;
    transform: translateY(-50%);
   top:50%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 180px;
    text-align:left;
    z-index: 2;
    background-color: #fff;
   border-radius: 4px;
}
.tip-box:after{
  display: inline-block;
  content: '';
  width:10px;
  height: 10px;
  border-left: 1px solid #ccc;
  border-top:1px solid #ccc;
  background:#fff;
  transform: rotate(-45deg); 
  position: absolute;
  top:45%;
  left: -7px;
}
.input-row-textarea{

}

.compliance-policies h3{
  font-size: 16px;
  font-weight: bold;
  padding:0 20px;
}
.compliance-policies h5{
  font-size: 14px;
  font-weight: bold;
  padding:0 20px;
}
.compliance-policies h6{
  font-size: 12px;
  font-weight: bold;
  padding:0 20px;
}
.policies-text{
  position: relative;
  padding:0 20px;
  font-size: 12px;
}
.compliance-policies .tabel-inner-tip{
  display: inline;
 width: 10px;
 height: 10px;
 border-radius: 50%;
 background: #000;
 line-height: 1;
  float: left;
}
.compliance-policies .tabel-inner-text{
  display: inline;
  float: left;
  line-height: 1.4;
  font-size: 12px;
}
.compliance-policies .tabel-inner{
  display: flex;
  line-height: 1.4;
}
.compliance-policies {width:70%;margin-top:15px;float:left; background: #fff;  line-height: 1.6;}
.profile_right { min-width:300px; width:18%;float:left;height:900px; margin-left:1%; position:fixed; right:20px; top:200px;z-index: 1;}
.profile_right_cnt { width:100%; height:auto; background:url(../images/profile_menu_bg1.png) -23px 0 repeat-y; float:left;}
.profile_right_cnt p{ width:100%;color:#333; float:left;  font-weight:bold; background: url(../images/profile_menu_bg.png) 0 -41px no-repeat; padding-left:18px; margin:6px 0}
.profile_right_cnt p.sec{ background:none; position:relative; height:18px; margin:4px 0}
.profile_right_cnt p.sec:hover{ background:none;}

.profile_right_cnt a.sec{ width:100%;color:#333; float:left; position:absolute;top:0; left:0px;  font-weight:normal; background: url(../images/profile_menu_bg.png) 0 -80px no-repeat; padding-left:30px; margin:2px 0}

.profile_right_cnt a.sec:hover{ color:#0079fe; cursor:pointer;background: url(../images/profile_menu_bg.png) 0 -61px no-repeat;}
.profile_right_cnt p a{color:#333;}
.profile_right_cnt p:hover{ color:#0079fe; cursor:pointer;background: url(../images/profile_menu_bg.png) 0 -22px no-repeat;}
.profile_right_cnt p:hover a{color:#0079fe;}
.profile_right_cnt div.profile_right_cnt_first{ width:100%; float:left;  font-weight:bold; background: url(../images/profile_menu_bg.png) 0 -6px no-repeat; padding-left:12px; height:12px; margin-bottom:10px;}
.profile_right_cnt div.profile_right_cnt_last{ width:100%; float:left;  font-weight:bold; background: url(../images/profile_menu_bg.png) 0 -6px no-repeat; padding-left:12px; height:12px; margin-top:10px;}
.profile_right_cnt ul{ float:left; margin-bottom:10px; margin-top:10px;}
.profile_right_cnt ul li{ float:left; padding-left:18px; width:100%; line-height:23px;}
.profile_right_cnt ul li a{color:#333}
.profile_right_cnt ul li a:hover{color:#0079fe}
.profile_right_cnt .floatnav_a_cur { color:#0079fe; cursor:pointer;background: url(../images/profile_menu_bg.png) 0 -22px no-repeat;}
.profile_right_cnt .floatnav_a_cur a { color: #0079fe;}

.profile_right_cnt .floatnav_a_cur a.sec{ color: #0079fe;background: url(../images/profile_menu_bg.png) 0 -59px no-repeat;}

.table-policies  table tr td{
  font-size: 12px;
  height: 30px;
    word-wrap: break-word;
    border: 1px solid #e4e4e4;
    padding: 5px;
    margin-right: 20px;
    vertical-align: middle;
}
.table-policies  table thead tr td{
  font-size: 12px;
    vertical-align: middle;
    text-align: center;
}
.table-policies table tr td ul li,.column-table table tr td ul li{
  position: relative;
  padding-left: 16px;
}
.table-policies table tr td ul li:before ,.column-table table tr td ul li:before{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 6px;
    display: inline-block;
    background-color: #000;
    margin-right: 6px;
    position: absolute;
    left: 0;
    top:6px;
  }
  .table-policies table tr td .num-item dd:before{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 6px;
    display: inline-block;
    background-color: #000;
    margin-right: 6px;
    position: absolute;
    left: 6px;
    top:6px;
  }
  .table-policies table tbody tr td:nth-child(1) {
    background-color: #f9f9f9;
    text-align: right;
    padding-right: 20px;
}
.policies-text .policies-text-title{
 position: absolute;
 left: 20px;
}
.policies-text .policies-contet{
  margin-left: 70px;
}
.policies-text .policies-text-title2{
 position: absolute;
 left: 20px;
}
.policies-text .policies-contet2{
  margin-left: 40px;
}
.compliance-policies .conten-list{
  margin:0 20px;
  font-size: 12px;
}
.compliance-policies .conten-list li{
  position: relative;
  padding-left: 20px;

}
.compliance-policies .conten-list li:before{
    content: '';
    width: 9px;
    height: 1px;
    border-radius: 6px;
    display: inline-block;
    background-color: #000;
    margin-right: 6px;
    position: absolute;
    left: 0;
    top:10px;
  }
  .column-table .p-item{
   padding-left:20px;
   position: relative;
  }
  .column-table .p-item span{
   position: absolute;
   left: 0;
   }
.column-table table tr td .num-item dd,.table-policies table tr td .num-item dd{
  position: relative;
  padding-left: 20px;
}
.column-table table tr td .num-item dd span,.table-policies table tr td .num-item dd span{
    width: 12px;
    height: 6px;
    border-radius: 6px;
    display: inline-block;
   text-align: left;
   background: #fff;
    position: absolute;
    left: 0;
    top:0px;
  }
  .content-tip{
    background: inherit;
    background-color: rgba(255, 238, 230, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 221, 204, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-style: normal;
    color: #999999;
    text-align: left;
    line-height: 24px;
    padding: 10px 20px 10px 40px;
    position: relative;
  }
  .content-tip .tip-img{
    width: 24px;
  display: inline-block;
  position: absolute;
  left: 10px;
  top:10px;
  }
  .content-tip .main-tip{
  display: inline-block;
  }
    .content-tip .main-tip .tip-title{
      font-size: 14px;
    }
    .content-tip .main-tip .tip-item{
      font-size: 12px;
    }
    .flow-content{
      width: 100%;

    }
    .flow-content img{
      width: inherit;
    }
.active-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.active-box .active-tip{
  margin-right:20px;
}
.active-box .pop-active-item .item-li .item-icon{
display: inline-block;
width: 16px;
height: 16px;
background: #BFBFBF;
border-radius: 50%;
}
.active-box .pop-active-item .item-li .item-icon2{
display: inline-block;
width: 16px;
height: 16px;
background: #0079FE;
border-radius: 50%;
}
.active-box .pop-active-item .item-li{
  height: 26px;
}
.active-box .pop-active-item .item-li .item-icon3{
display: inline-block;
width: 16px;
height: 16px;
background: #00C279;
border-radius: 50%;
}
.active-box .pop-active-item .item-li .item-gray{
  color:rgba(102, 102, 102, 0.6);
}